[2017-05-06 18:31] tylerjvick opened #1 "Add tvOS Support"
I saw this project linked from #https://github.com/httpswift/swifter/issues/111 and I love that it supports SSL.

I was hoping this project would have compatibility with tvOS to run a web server on the Apple TV. However, the Cocoapods installation reads:

I'm not sure if it'd be easy enough to add this to the supported platforms list, or if it would require more work. tvOS and iOS should share muc

[2017-05-06 21:58] Zyphrax commented on #1
Great to hear that you like it!

I've just released a new version that supports tvOS, version 0.2.0.
There's also a tvOS example, which is basically the same as the iOS one.

[2017-05-06 21:58] #1 closed

[2017-05-17 01:46] Palleas opened #3 "Add Mac Support (with Carthage)?"
Hey!

I'd like to use this project (since it supports HTTPS and I like that) in a mac app. I'm also using Carthage. I started working on adding mac support to see if it worked (it does) but I wanted to check with you before opening a pull request.

Basically that means:
* Adding a mac framework target so it works with Carthage
* Updating the Podfile and the podspec
* Adding a sample app for mac

I

[2017-05-17 03:22] Zyphrax commented on #3
Hi,

Yes Carthage and MacOS support would be great! I have started some work on Carthage support because of the tvOS request. If I'm close to full carthage support, I'll finish it and commit it. If not, that pull request sounds great. I'll let you know tomorrow.

[2017-05-17 12:52] Palleas commented on #3
Cool, let me know :)

[2017-05-17 22:10] Zyphrax commented on #3
I ran into a bit of a roadblock with the dependencies, HTTPParserC didn't have Carthage support.
So I've created an Xcode project etc. etc. and now HTTPParserC has Carthage support 😄

Now a few more modifications to the Telegraph workspace and all should be good.

[2017-05-18 04:20] Zyphrax commented on #3
I've just released 0.3.0, it has Carthage and macOS support 🎉

I did a quick test under macOS, from what I could see it works fine. There is a known Apple bug that under macOS you must place a passphrase on the P12 file (see the [Prepare the certificates](https://github.com/Building42/Telegraph#prepare-the-certificates) section of the Readme).

You can find a macOS example in the workspace.

If yo

[2017-05-18 04:20] #3 closed

[2017-05-19 13:02] Palleas commented on #3
That's great news, thanks!

[2017-06-20 13:26] ratherDashing opened #6 "CLI Support?"
I tried building a quick and dirty console application using Telegraph and I couldn't get any of the dependencies working.  Is this a Swift limitation or one with Telegraph?  I was able to make one just fine as a regular .app.

Maybe put a sample CLI application using Telegraph?

I am writing a REST service that requires SSL so I chose this framework and I want to compile it down to a CLI applicat

[2017-06-20 18:26] Zyphrax commented on #6
Unfortunately it seems to be quite difficult to use frameworks in a console application:
https://stackoverflow.com/questions/630911/using-frameworks-in-a-command-line-tool

CocoaPods doesn't support console applications: [see this issue](https://github.com/CocoaPods/CocoaPods/issues/6137)
Carthage doesn't seem to support it either: [see this issue](https://github.com/Carthage/Carthage/issues/287)

[2017-06-22 13:09] ratherDashing opened #7 "Always trust certificates?"
I generated the .ca and .der files following the tutorial you linked to and when I start the application the first request creates a pop-up on the server to trust the certificate.  I have clicked "Allow Always" and I've also added the certificate authority and the certificate to the keystone and set it to "Always Trust" and I still get the pop-up.  This is on Mac OS X.  Anyway to prevent that?  I'

[2017-06-22 13:29] #7 closed

[2017-06-22 13:30] ratherDashing commented on #7
realized if you "trust always" and don't recompile it should trust always.  I was getting this a lot since my service is a WIP

[2017-06-22 19:30] Zyphrax commented on #7
You can add the PKCS#12 (.p12) file to the keychain.
Then double click on the key and change access to _Allow all applications to access this item._

![Keychain - Key Access](https://user-images.githubusercontent.com/966500/27452049-32a5df8a-575f-11e7-8bf8-b34c19707d17.png)

That should take care of the Keychain prompts.

[2017-06-23 14:23] ratherDashing opened #8 "p12 certs on Mac OS X 10.11"
No clue if it's just me but on my local machine which is running 10.12 I can load the .p12 cert just fine.  The same cert causes our test machine which runs 10.11 to blow up pretty spectacularly. I've even tried generating new certs on that machine and it still blows up.

I looked at the return code I get and it's errSecInteractionNotAllowed from SecPKCS12Import.  I'm running this via SSH.  I'm us

[2017-06-23 17:25] ratherDashing commented on #8
I solved this with a terrible awful no good hack.  Maybe you guys have a better idea.

Looks like if you are running an application via SSH the keystone is locked so you can't access it.  So I create a brand new keystone in a temp directory hoping sooner or later someone will come around and delete it.

    public convenience init?(p12Data: Data, passphrase: String = "") {
let path = CertificateId

[2017-06-23 21:10] Zyphrax commented on #8
I've been reading the Apple docs, and I can't seem to find a way to create the `SecIdentity(Ref)` without the `SecPCKS12Import` function, which unfortunately requires access to a keychain.

You can simplify your code a bit by using an UUID as the temporary filename:

[code]

I'll keep an eye out to find out another way to create the `SecIdentity(Ref)` on MacOS.

[2017-06-23 21:24] Zyphrax commented on #8
You could also decide not to use a temporary file.
If you only specify the filename for the keychain, it will be created in `~/Library/Keychains`.

Maybe use an app identifier for the keychain name:

[code]

[2017-06-23 22:18] ratherDashing commented on #8
Thanks for the code!

I don't know if this is keychain related but the SSL version of my application stops responding to requests after a few minutes.  I have to ctrl-c it and start it back up.  The non-ssl version works just fine and stays up!

The problem with the app identified keychain is I can't find a way to open a keychain file without popping up the password dialog on the clients computer.

[2017-06-26 14:44] ratherDashing commented on #8
I fixed my 5 minute timeout issue.

[code]

so first time it'll make the keychain and future times it'll load it.  then you need to execute security set-keychain-settings on the keychain to prevent it from locking.

[2017-06-26 23:41] Zyphrax commented on #8
So `SecKeychainUnlock` keeps it unlocked?
Or do you have to repeat that command every now and then?

The KeyChain functions are some of the darker, hairier, pieces provided by Apple.

[2017-06-27 05:25] Zyphrax commented on #8
Unfortunately, because of CocoaPods, it is difficult to add classes that target only MacOS. Apple decided to make functions like `SecKeychainCreate` not available on iOS.

Have a look at the commit I've just added:
- `kSecAttrAccessibleAfterFirstUnlockThisDeviceOnly` is now the default for keychain items. That will probably solve the 5 minute timeout issue, because the private key will still be ac

[2017-06-27 15:32] ratherDashing commented on #8
Sadly, the keychain still locked after 5 minutes.

I did make some modifications to your code that you may want to edit your comment:

[code]
should be:
[code]

[code]
should be:
[code]

[2017-06-27 16:38] Zyphrax commented on #8
Thanks, I've modified the code in my post. I started my example in Xcode, but made a few changes after that here on GitHub.

Does the server still time-out after 5 minutes?

I was hoping that `kSecAttrAccessibleAfterFirstUnlockThisDeviceOnly` would allow access to the P12 data even if the keychain is locked.

Could you try the `kSecAttrAccessibleAlways` value?
At the start of your code add:
[code]

[2017-06-27 16:50] ratherDashing commented on #8
That seems to have done the trick!  I deleted the modified keychain that I told to never lock, added that line of code, and it's been ~10 minutes with no lock.

Thanks for all of your support.  I owe you a beer!

[2017-06-28 22:30] Zyphrax commented on #8
Wow, that is strange behavior. I'm glad you've found a workaround.

[2017-07-02 00:31] #8 closed

[2017-07-29 08:45] TomasHubelbauer opened #9 "Bonjour registration and issuing a certificate for the Bonjour hostname"
Hello, please entertain my noob question, but I was wondering whether there is support planned for the Bonjour registration so that my embedded web server instance can be accessed over a proper hostname (like `http://tomas-hubelbauer.local` which I got with _GCDWebServer_) and not just an IP address.

Additionally, do you think it would be possible to issue an Let's Encrypt SSL certificate for tha

[2017-07-29 08:51] TomasHubelbauer opened #10 "How to tell serverBundle which subdirectory to use?"
Hello, I am trying to serve contents of my `www` directory which I created by dragging a directory within the projects folder structure from Finder to Xcode project node and selecting the directory references option as opposed to creating a new group.

The code I am using is as follows:
[code]

I am able to access `http://192.168.0.whatever/` and see the contents of `www/index.html` displayed in C

[2017-07-29 09:19] TomasHubelbauer commented on #10
Figured it out - sorry, this turned out to be unrelated to Telegraph.
[code]

[2017-07-29 09:19] #10 closed

[2017-07-29 14:32] TomasHubelbauer opened #13 "WebSockets handshake request query string not available through params"
I am using `handshake.params["test"]` but the `params` dictionary is empty. `handshake.uri.components.query` is correct: `"test=test"`. Is this intended behavior?

[2017-07-29 21:13] Zyphrax commented on #9
Hi Tomas,

**.local domain certificate**
I don't think that Let's Encrypt (or one of the other root CAs) are allowed to issue certificates for the `.local` domain. A [certbot engineer](https://community.letsencrypt.org/t/can-i-create-a-cert-for-a-private-domain/27264/3) wrote the following:

**Bonjour publishing**
I haven't added Bonjour service publishing to the library yet, I might add it in one

[2017-07-29 21:36] Zyphrax commented on #13
QueryString parameters and POST data do not end up in the `params` dictionary. The name `params` might be a bit confusing, because at the moment only the route parameters end up in the `params` dictionary.

If you like you can create a `HTTPRequestHandler` that takes the QueryString parameters from the `HTTPRequest` and adds them to the request's `params` dictionary:

[code]

Then add the handler

[2017-07-29 21:40] TomasHubelbauer commented on #9
@Zyphrax Thanks for the example Bonjour code, much appreciated! Also thanks for the info on Bonjour compatibility issue.

About the `.local` hostname, I kind of figured it would be that way, which is a pity for me but I guess there are good reasons for it, so I'll live with it.

Have a nice day!

[2017-07-29 21:40] #9 closed

[2017-07-29 21:41] TomasHubelbauer commented on #13
@Zyphrax The sample handler is exactly what I'll need and it seems like a neat way to achieve it. Thanks!

[2017-07-29 21:41] #13 closed

[2017-07-30 06:10] TomasHubelbauer commented on #10
@Zyphrax That you, that's much nicer!

[2017-08-01 04:57] SmileAppDev opened #14 "Basic unsecured server not working"
When I use the demo that comes with Telegraph the server starts and works perfectly, however when I try to just test an unsecured server it doesn't work.

The demo code that works:
[code]

My test of a basic server that doesn't work:
[code]

[2017-08-01 09:05] TomasHubelbauer commented on #14
Did you make sure to access it on a correct IP (and port) and through HTTP not HTTPS? Also what does *does not work* mean? Does the app break or is it just that the server is not listening without any apparent error?

[2017-08-01 17:04] SmileAppDev commented on #14
I tried to connect to it using localhost:9000. By "does not work" I mean the code runs but can't access the server from the browser. There are no errors in the console.

When running the example code I get this:
<img width="431" alt="screen shot 2017-08-01 at 11 00 47 am" src="https://user-images.githubusercontent.com/9518504/28837198-232122ae-76a9-11e7-81bc-097403ddcf43.png">

But when I run the

[2017-08-01 17:06] TomasHubelbauer commented on #14
You are using HTTPS in your second picture. You said you are configuring unsecure server - as your example code suggests as well. Does it work with `http://`?

[2017-08-01 17:08] SmileAppDev commented on #14
No, I tried that as well, I just didn't catch it for the picture.

http:// gets the same thing.
<img width="666" alt="screen shot 2017-08-01 at 11 07 26 am" src="https://user-images.githubusercontent.com/9518504/28837376-c710ee3a-76a9-11e7-9f83-d4c534248c4f.png">

[2017-08-01 17:10] TomasHubelbauer commented on #14
I see. I don't have experience with using localhost, what I did was include the embedded (unsecured) server in an app and then connect to the phone's local network IP from a browser on a laptop (both the Mac I deployed the app from and a different one). What steps are you doing here to be able to use `localhost`? I am asking so I can try and reproduce this myself to try to help further if possible

[2017-08-01 17:12] TomasHubelbauer commented on #14
Oh I just realized you are probably using a macOS app instead of an iOS app right?

[2017-08-01 17:13] SmileAppDev commented on #14
Ya I am,  I was just going to test if it works on IOS.

[2017-08-01 17:25] SmileAppDev commented on #14
It didn't work on IOS either.

[2017-08-01 17:25] TomasHubelbauer commented on #14
@SmileAppDev I am able to reproduce this issue. Can't assist you further sadly, but hopefully @Zyphrax will be. Interestingly, port 80 works for me on iOS no problem, but on macOS it throws "bad instruction"

[2017-08-01 17:26] TomasHubelbauer commented on #14
@SmileAppDev Ah, that is interesting. Let me upload an example for you to check out and try, I got this working on iOS no problem.

[2017-08-01 17:27] SmileAppDev commented on #14
Ok, Thanks for the help!

[2017-08-02 15:21] Zyphrax commented on #14
Port 80 and 443 are in the range of the protected port numbers. Unfortunately you are very likely to have issues when you use there port numbers. They require administrative privileges, which should be possible on macOS but not on the other platforms. See: [why can't I use port 80 and 443](https://github.com/Building42/Telegraph#why-cant-i-use-port-80-and-443).

A few minutes ago I've tested the u

[2017-08-02 15:24] TomasHubelbauer commented on #14
@SmileAppDev Sorry I did not have time to get back to you, hopefully Yvo's suggestion to "downgrade" the secure demo will work for you
@Zyphrax I was able to use port 80 on iOS without any extra permissions or privileges - should I expect problems when going to the store with the app as opposed to in development (while deploying from the Mac to developer iPhone)?

[2017-08-02 15:31] Zyphrax commented on #14
Interesting, I believe the simulator doesn't allow it, but it might be allowed on the actual device. See the comment by Kalle on [this Stack Overflow post](https://stackoverflow.com/a/3326000/136819). I'm not sure if Apple will break that in the future, but for now it might work.

I've just tested the iOS version and it runs without any issues.

@SmileAppDev if you have an example app, I'd be happ

[2017-08-02 15:38] Zyphrax commented on #14
Interesting, it seems to be allowed on the actual device but not on the Simulator. See [this StackOverflow post](https://stackoverflow.com/questions/3325785/web-server-on-port-80-on-iphone/3326000). I'm not really sure, I'd have to do some tests with this.

The unsecure server is working for me on iOS, without any problems.

@SmileAppDev are you retaining the `Server` instance? In `TelegraphDemo`

[2017-08-04 17:25] SmileAppDev commented on #14
Thank you @Zyphrax the server was getting deallocated.

[2017-08-04 17:27] #14 closed

[2017-08-04 17:28] Zyphrax commented on #14
@SmileAppDev Ah yes, that's an easy mistake to make. I'm glad this isn't a bug :)
Thanks for letting me know.

[2017-09-14 18:40] tharaujo opened #15 "Ajax Calls?"
Using this https server to make ajax calls?

[2017-09-15 01:40] Zyphrax commented on #15
For JSON I like to combine Telegraph with [SwiftyJSON](https://github.com/SwiftyJSON/SwiftyJSON).

First create an extension on HTTPResponse:

[code]

Then you can create a route that looks like this:

[code]

With the example above you can do a request on `/test`.
In the body you can send JSON like { "name": "Bob" }.
The result should be { "welcome": "Bob" }.

I didn't use Xcode for the code abov

[2017-09-16 06:17] Joe0708 opened #16 "iOS8 support?"
My app should support iOS8, , but Telegraph did not support ios8.0. i should how to do?

[2017-09-16 06:30] Daij-Djan commented on #16
don’t use telegram or (better imo) don’t care about ios8 anymore

[2017-09-16 15:59] Zyphrax commented on #16
@Joe0708 With Telegraph I've targeted iOS 9 because of ATS (Application Transport Security), but I might be able to lower the requirements.

Somewhere next week I'm going to make changes to the library for Swift 4, I'll have a look at the minimal requirements as well.

@Daij-Djan Everybody should use Telegraph 😄

[2017-09-17 10:59] tharaujo commented on #15
Thanks, how to use http status that is not implemented by default?

[2017-09-17 16:13] Zyphrax commented on #15
You can use the `HTTPStatus` initializer to create a custom status:

[code]

If the status is commonly used I'd be happy to add it to the `HTTPStatusCode` enum.
Currently the following status codes are built-in:

[code]

[2017-09-29 00:29] mohamad-n commented on #10
hi.  is there any chance to use directory created by NSfileManager in app , as resource directory?

[2017-10-03 20:19] Zyphrax commented on #10
@mohamad-n Yes, you can use the serveDirectory function with any `URL` / `NSURL`

[2017-10-05 03:54] nhyjq opened #17 "Exception thrown at : HttpParser.swift->parsedURI()"
Hello,

I'm trying to develop a https app by Telegraph. When I run the demo project that changed to unsecured, access http://localhost:9000/hello/abc, or http://localhost:9000.

Code throws a exception at `HttpParser.swift->parsedURI()` function position is in line 100: `guard cParser.isURIComplete else { return continueParsing }`
detail exception information is following:

[code]

My device is iP

[2017-10-12 11:05] szuwest opened #18 "Objective-C project support"
My project base on Objc. I want to use this framework. I import Telegraph-Swift.h to my file, but only few class had convert to objc. I can not user most of the swift classes.

Can anybody impove this?

[2017-10-13 17:43] MarkDavidGoddard opened #19 "Swift Concurrency warnings on MacOS with XCode 9"
I am seeing the following Swift runtime warnings when running a server on MacOS.  This was build on MacOS 10.12 with XCode 9.  Everything still seems to work fine, but these look ominous.

[code]

[2017-10-14 17:29] Zyphrax commented on #18
@szuwest You can use something like CocoaPods or Carthage to integrate Telegraph into your project if you like. Also see [Can I use this in my Objective-C project?](https://github.com/Building42/Telegraph#can-i-use-this-in-my-objective-c-project)

[2017-10-14 19:52] Zyphrax commented on #19
Thanks for reporting this issue. This looks like the same issue as https://github.com/Building42/Telegraph/issues/1.
I'll continue the discussion there.

[2017-10-14 19:52] #19 closed

[2017-10-14 19:54] Zyphrax commented on #17
The `HTTPParser` is parsing incoming `HTTP` requests. There are some threads that access the current `HTTPMessage` variable, while another thread is parsing the request.

I'm going to add a work queue to the `HTTPParser` class, that should solve these issues.

[2017-10-14 22:21] Zyphrax commented on #15
If anyone needs statuscodes that aren't in the list, please let me know.
You can also open a pull request and modify `HTTPStatusCode` yourself if you like.

[2017-10-14 22:21] #15 closed

[2017-10-14 22:29] #17 closed

[2017-10-14 22:36] Zyphrax commented on #17
I first thought I had to add a worker dispatch queue to the `HTTPParser` to fix this issue. But the `HTTPParser` is mostly synchronous, so that isn't necessary.

 I fixed this by passing the `http_parser` instance to the parser callbacks, that prevents a bit of going back and forward between the `http_parser` pointer and the `HTTPParser` instance.

I'll release version 0.9 so that it is available

[2017-10-14 22:43] Zyphrax commented on #16
I've added iOS 8 support with commit https://github.com/Building42/Telegraph/commit/21b37912071de635c45a77f5ac22d3ba014deaca.

I ran into some headache with the regular expressions for route handling. I was relying on named groups and that wasn't available in iOS 8. I've added a workaround, but please test things well and let me know if you encounter any issues.

I'll release version 0.9 so that i

[2017-10-14 22:43] #16 closed

[2017-10-17 12:19] szuwest commented on #18
I create a few Swift wrapper classes to user Telegraph.

[2017-10-17 12:19] #18 closed

[2017-10-17 12:27] szuwest opened #20 "can not set Sec-WebSocket-Protocol"
Telegraph has defined header `Sec-WebSocket-Protocol`, but it is hard coded in `HTTPMessage+WebSocket.swift` (line 38). Outside, we can not set the header, it will be overridden. But `Sec-WebSocket-Protocol` is very important. Most of time we need to set it.

[2017-10-17 12:42] szuwest opened #21 "can not connect with other platform Websocker Server or Client (AndroidAsync)"
I run the demo Telegraph provided, it is ok. I use two iPhones, one is server and one is client, that is ok, too. But I use one iPhone as WebSocket server, one Android phone as WebSocket client (using AndroidAsync), the server did not run normally. If iPhone as WebSocket client, android phone as server, the client did not run normally. I think maybe Telegraph handles something unproperly.

Sorry f

[2017-10-19 00:58] #20 closed

[2017-10-19 00:59] Zyphrax commented on #20
Thank you for reporting this.

I've changed the way that the headers are applied. You can now set the `Sec-WebSocket-Protocol` header on the `headers` variable of the `WebSocketClient` and it will be overridden.

[2017-10-19 01:07] Zyphrax commented on #21
I'm using Telegraph together with the [Ruby Faye WebSocket](https://github.com/faye/websocket-driver-ruby) driver and that is working without any issues.

Do you maybe have a demo project where I can test AndroidAsync and Telegraph together? Makes it a bit easier for me to see the problem. Does the `didConnectToHost` delegate fire?

The Telegraph WebSocket implementation is quite small and doesn't

[2017-10-20 13:59] riki-dexter opened #22 "WebSocket pinginterval causes websocket stuck"
Hi, I'm Riccardo, thank you for this awesome library.
I've setup web server exactly like in your example. My iOS app is a websocket server, so i implemented ServerWebSocketDelegate delegate methods.
My websocket client is a simple javascript.
The problem is that after ping-pong-ping between client/server (and some text messages) websocket channel get stuck. Last pong is not received e no more text

[2017-10-27 19:37] Zyphrax commented on #22
I've wrapped a bit of HTML around your JavaScript code and I can reproduce the problem. I'm using the Telegraph demo code and I have disabled `demoClientRequest` and `demoWebSocketConnect` (TelegraphDemo.swift, lines 23 and 24)

[code]

I'll debug the WebSocket code later today. Perhaps the browser responds to the ping-pong with a message that Telegraph doesn't handle properly.

[2017-10-27 20:21] riki-dexter commented on #22
Thank you very much, let me know when you’ll find the dirty bug! 😆
Cheers!

[2017-10-27 23:49] Zyphrax commented on #22
@riki-dexter I think I've fixed the bug. WebSocket frames can contain a bitmask, however my WebSocket parser wasn't expecting a bitmask for messages without a payload (if there is no payload, why would you need a bitmask? But that wasn't according to spec). The new code now always expects a bitmask if the bitmask flag is set.

Please give it a spin and see if it works now.

[2017-10-27 23:50] Zyphrax commented on #21
@szuwest I've just released a fix that might fix this problem. Could you please try the latest version?

[2017-10-30 09:05] riki-dexter commented on #22
Thank you, It works!
Cheers!

[2017-11-02 13:46] riki-dexter commented on #22
Hi Zyphrax,
sorry but I updated today Xcode to 9.1 (9B55) and Swift 4.0.2 and ping pong crashes again.
When the first pong is received from client app crashes. See stacktrace here.
![schermata 2017-11-02 alle 14 41 29](https://user-images.githubusercontent.com/1485097/32329146-65afee76-bfdc-11e7-9796-0dc45ed00a6b.png)

Thank you very much!

[2017-11-05 13:48] aplekhanov opened #23 "Swift language runtime "Simultaneous accesses to ..., but modification requires exclusive access.""
Hi guys,

Just have started using your great framework. It's awesome! Thanks for your great work!

When I create a new project in Xcode 9.1, pod Telegraph and even just copy-pasted your iOS example and try to run, there are Swift language runtime warnings in console pointing to different parts of HTTPParser.

When I'm trying your bundled sample from Telegraph.xcworkspace there's no such issue at a

[2017-11-05 14:34] Zyphrax commented on #23
Hi @aplekhanov, this looks like issue https://github.com/Building42/Telegraph/issues/19.
Are you using the latest version? This issue should be fixed in Telegraph 0.10.

[2017-11-05 19:17] aplekhanov commented on #23
Thanks for quick replay! Yes, you are absolutely right. There was a 0.8.1 version and after `pod update` it becomes 0.10 and works fine.

Sorry, don't digg into resolved issues first.

Happy coding!

[2017-11-05 20:10] #23 closed

[2017-11-06 08:56] riki-dexter opened #24 "Websocket ping/pong cause crash"
Hi Zyphrax,
sorry but I updated Xcode to 9.1 (9B55) and Swift 4.0.2 and ping pong crashes again.
When the first pong is received from client app crashes. See stacktrace here.
![32329146-65afee76-bfdc-11e7-9796-0dc45ed00a6b](https://user-images.githubusercontent.com/1485097/32432648-9e817040-c2d8-11e7-8eed-77b77c40cd0d.png)

[2017-11-07 04:05] Zyphrax commented on #24
Hi @riki-dexter, I'm running the iOS example on my iPhone (iOS 11.1, Xcode 9.1, Swift 4.0.2).
It doesn't crash here. Are you using the latest codebase and have you tried the iOS example?

![image](https://user-images.githubusercontent.com/966500/32476635-8e70b63e-c346-11e7-9bc1-cb96eb542973.png)

There were a few deprecation warnings. I'll commit a fix for those.

[2017-11-07 04:18] Zyphrax commented on #23
@aplekhanov Not a problem!
If you have any further questions or concerns, feel free to open a new issue.

[2017-11-07 04:24] Zyphrax commented on #24
Hi @riki-dexter, sorry I totally missed your ticket in the other issue. I'll close this one and answer it there.

[2017-11-07 04:24] #24 closed

[2017-11-07 04:55] #22 closed

[2017-11-07 05:01] Zyphrax commented on #22
Hi @riki-dexter

It seems that in Xcode 9.1 / Swift 4.0.2 / iOS 11.1 the helper that I'm using to mask the WebSocket payload is causing a `EXC_BAD_EXCEPTION`. I was using `withUnsafeMutableBytes` to mask the bytes in the Data instance, but looking at the [source of the Swift Data struct](https://github.com/apple/swift/blob/master/stdlib/public/SDK/Foundation/Data.swift) that might be an unnecessar

[2017-11-07 10:05] riki-dexter commented on #22
Yeah! It works like a charm! 🍻
Thank you.

[2017-11-07 11:26] riki-dexter opened #25 "Access control allow origin"
Hi Zyphrax,

I'm writing a REST service in my app to serve an image when called. Let say my iPad web server is listening on `192.168.1.97:9000`, configured as **unsecure** server.

Calling client is an angularjs app running on my PC, let say on `localhost:8080/myclientapp`.
My angularjs app call `http://192.168.1.97:9000/getimage` but iOS app web server returns:
`Failed to load http://192.168.1.97

[2017-11-07 13:11] riki-dexter commented on #25
Hi Zyphrax,
I'm able to resolve this situation by adding a custom request handler like this:
[code]
like you said in your README > HTTP: Middleware.

Is this the right way?

Thank you!

[2017-11-07 20:02] aplekhanov opened #26 "Matching routes question."
Hello,

Just found that HTTPRouteHandler matches any route that can handle our path. For instance, I add only `.get` and `.delete` routes with the same path with parameter, but server also response on `.put` and `.post` methods on that path (testing by Rested app as a client).

Is it a bug or feature? Or I just need to check method in the request's handler?

Thanks, and happy coding!

[2017-11-07 20:09] aplekhanov commented on #26
And by the way, if in this case I add `.put` route with the same path as for `.get` route, then only `.get` request handler called, even for `.put` request.

[2017-11-07 20:22] Zyphrax commented on #21
I'm going to close this one because of inactivity.
Please reopen if necessary!

[2017-11-07 20:22] #21 closed

[2017-11-07 20:50] #26 closed

[2017-11-07 20:51] Zyphrax commented on #26
Hi @aplekhanov, thank you for reporting this!

I noticed a bug in `HTTPMethod` that was causing this behavior.
I've fixed it on the master branch and will release a new version (0.12).

[2017-11-07 20:57] Zyphrax commented on #25
Hi @riki-dexter, yes that's a great solution!

As an extra security measure you might want to check that the request is a `GET`:

[code]

[2017-11-07 20:59] #25 closed

[2017-11-08 02:08] Zyphrax commented on #26
A side-effect of this issue was that HEAD requests would no longer work.

I've added code to allow HEAD requests on GET routes by default. If you like you can toggle this behavior by changing `implicitHeadRequests` on the `HTTPRouteHandler`.

Version 0.12 has been released.

[2017-11-14 18:23] aplekhanov opened #27 "Memory overload when downloading large files."
Hello,

I keep challenging your great product and found recently that when I try do download a large file (like ~150 Mb for instance on screenshot below) from the server, the debug navigator shows that it makes a huge impact to device memory. Moreover, it multiplies on number of simultaneous downloads.

Well, is it a bug or architecture pitfall? I mean is it possible to fix it?

Thanks and happy c

[2017-11-15 08:05] aplekhanov commented on #27
Just start unsecured server with .serveDirectory on iPad and get file using URLSession from 'http://localhost:9000/big.pdf'. The same picture on macOS. Seems it load the whole file into memory for every downloading session.

[2017-11-16 05:27] Zyphrax commented on #27
Hi @aplekhanov, Yes big files are fully loaded in memory. The implementation of the file handler is pretty basic.

Unfortunately to properly send big files to your client you need [chunked transfer encoding](https://en.wikipedia.org/wiki/Chunked_transfer_encoding), I haven't implemented that in the HTTP classes. I'm not really sure how much work it would be to add it to the framework, I haven't ex

[2017-11-16 06:22] aplekhanov commented on #27
Hi @Zyphrax,
Yeah, I found already that part of code in the HTTPFileHandler `response.body = try Data(contentsOf: fileURL)` . I guess there must be `NSFileHandle` to get chunked data from file... and some special http header for this case... right? Very tempting 😈

But right now I need to finish A LOT OF other interesting work. Let's say it is not high priority and most important thing is that it

[2018-02-11 12:56] chajuss opened #30 "Type 'WebSocket' does not conform to protocol 'Hashable'"
I'm trying to use the websocket server portion of Telegraph on an iOS app I'm working on, which receives connections from Android clients and distributes data between them.
These clients can disconnect randomly, at which point they'll try to reconnect back to my app.

Problem I'm having is that since Telegraph WebSocket does not conform to 'Hashable', there's no way for me to know which client dis

[2018-02-12 17:51] Zyphrax commented on #30
The WebSocket implementation in Telegraph is kinda bare bones, but it should be functional. Do you perhaps have a test project for me to illustrate the problem? A project with Telegraph and Starscream would be great, then I can see how Telegraph responds. I've tested Telegraph with the WebSocket client in Chrome and that worked fine.

[2018-02-13 12:58] chajuss commented on #30
Thanks for the reply :)

I've created a [test application](https://github.com/chajuss/WebSocketTest) that simulates some of my actual app flow, however the issue currently doesn't reproduce. I'll investigate the matter and post again once I found a reason and/or solution.

I did notice that the rate of sending data over the server's websocket drops from the expected 1MB/s to about 0.3MB/s (the dat

[2018-02-14 06:34] Joebayld commented on #30
I have the same issue, but only when sending many packets to clients very quickly. I'll try and get a test app made..

[2018-04-05 07:25] milanstevanovic opened #31 "Latest commits broke Carthage build"
Since the last few commits, Carthage build fails with message:
[code]
Contents of the log file:
[carthage-xcodebuild.lYBhpZ.log](https://github.com/Building42/Telegraph/files/1878889/carthage-xcodebuild.lYBhpZ.log)

[2018-04-05 12:17] Zyphrax commented on #31
The latest version of Telegraph targets Swift 4.1 (Xcode 9.3).

I've fixed a few warnings, in some cases `flatMap` is now replaced with `compactMap`. Unfortunately `compactMap` isn't available in Swift 4.0.

If you've already upgraded to Xcode 9.3, please make sure that you are using the latest version of the Command Line Tools, otherwise Carthage might get confused and use an old version:
![image

[2018-04-11 02:17] mjohannessen opened #32 "Processing POST with JSON data"
I’m testing Telegraph in a MAC OS app and want the server to process a POST with data, like this from curl:
[code]

Routing seems to work fine, but In trying to convert the HTTPRequest body to a Swift dictionary, I’m not able to parse the data to that end. Is it possible to do this with Telegraph and if so, any examples?

[2018-04-11 15:12] Zyphrax commented on #32
@mjohannessen I've updated the Telegraph demo to include a JSON POST example request.
Please have a look, if you have any questions don't hesitate to ask them, feel free to reopen this issue.

I notice that in your curl command above that the quotes in the JSON data aren't regular quotes (`"`), but the smart quotes (`“`), that might cause some issues too. You can disable smart quotes on Mac OS by

[2018-04-11 15:12] #32 closed

[2018-04-12 18:12] mjohannessen opened #33 "External POST request"
The demo now contains a demonstration of the server dealing with a POST with JSON data.  However, hitting the server externally seems to not deal with the data correctly. Try this:

[code]

The HTTPResponse is `{"welcome":"stranger"}`

Sorry - figured it out - alien characters in the curl line

[2018-04-12 19:27] Zyphrax commented on #33
Weird symbols in terminal can be annoying. Glad to hear it works!

[2018-04-12 19:27] #33 closed

[2018-04-25 04:16] aplekhanov opened #34 "Server-Sent Events using Telegraph"
Hi! Is there the way to implement [SSE](https://www.w3schools.com/html/html5_serversentevents.asp) on Telegraph server? Thanks!

[2018-05-01 03:53] randomiser opened #35 "How do check if the server is running?"
Hi there,

Very quick question as I can't seem to find anything obvious like this in the API.

How can I quickly check if the server is actually running? I'd expect a simple method like: isServing / isRunning etc to exist.

Cheers,
Matt

[2018-05-02 17:42] joshavant commented on #30
I am also having this issue.

The setup is basic:
- A macOS WebSocket server and an iOS WebSocket client
- iOS app generates 3MB of random `Data` and sends it to server via `WebSocketClient.send(data:)`

Result is occasionally getting this:

...or, if not, a quiet, gracefully closed connection. No matter what, the connection *always* gracefully closes, instead of sending the data, as expected.

--

[2018-05-08 14:10] Zyphrax commented on #35
Hi, a moment ago I've pushed a commit that adds an `isRunning` boolean to the Server class.
I'll try to release a new version later today!

[2018-05-08 14:10] #35 closed

[2018-06-29 18:01] Zyphrax commented on #35
Sorry, I totally forgot to release the new version.

Version 0.16 is now available 🎉 !

[2018-07-04 13:16] mikina opened #36 "WebSocket will close connection for large payload"
Hello 👋

Not sure if this is maybe somehow related to https://github.com/Building42/Telegraph/issues/30

I have an issue when trying to send large payload using WebSocket.
The data that is being sent is encoded using `JSONEncoder()` and simply sent using `self?.webSocket.send(data: data)`. For small amount of data (around 300KB) it works fine, but for large payloads (around 1MB) it will close the

[2018-07-05 11:41] wojczitsu opened #37 "How to serve Temporary directory?"
I have tried:
`server.serveDirectory(URL(string: NSTemporaryDirectory())!)
server.serveDirectory(URL(fileURLWithPath: NSTemporaryDirectory()))`
but nothing works. I managed to serve main bundle, but I cannot serve Temp. Please help :)

[2018-07-05 20:54] wojczitsu commented on #37
It was my mistake. This worked:
`server.serveDirectory(URL(fileURLWithPath: NSTemporaryDirectory()), "/tmp")`

[2018-07-05 20:54] #37 closed

[2018-07-05 20:58] wojczitsu opened #38 "Low speed. Large image loads really slowly."
In my app I serve temp directory which contains large images from camera roll and html file which displays these images using `<img src='...'>`. Loading of one image takes around 5s so it is really slow. Shouldn't it be fast while we're using local wifi ? Is there any way to speed it up?

[2018-07-14 02:14] Zyphrax commented on #36
Unfortunately WebSocket communication is a bit limited in Telegraph. I haven't implemented the full spec. However a payload of 1MB should work.

Do you have a small example app for me to test this?

[2018-07-14 02:17] Zyphrax commented on #38
How large are the images in MBs?

I think this might be related to issue #31. Telegraph doesn't support [chunked transfer encoding](https://en.wikipedia.org/wiki/Chunked_transfer_encoding) yet, which is probably required for use cases like this.

[2018-07-17 14:25] mikina commented on #36
@Zyphrax I have created sample app here https://github.com/mikina/TelegraphSocket

[2018-07-24 14:47] Zyphrax commented on #36
@mikina Thank you. The WebSocket framing protocol is optimized to handle messages of different sizes. WebSocket frames look like this:

[code]

I think Telegraph might contain a 🐞 when it comes to the Extended payload part. I'm investigating the issue and hopefully I can fix it 🙂

[2018-07-24 14:58] mikina commented on #36
Awesome! @Zyphrax let me know if I can help more 😊

[2018-07-24 15:49] Zyphrax commented on #36
Ok, I found two bugs:

1. Telegraph has a few helpers to convert `UInt16`, `UInt32` and `UInt64` values to an `UInt8` array. The `UInt64` helper was unnecessarily complex and didn't seem to return the correct array.
2. The WebSocketMessage+Write class has a small issue where payload sizes above `Int16.max` would be considered a large payload. That is not according to spec, it should be `UInt16.max

[2018-07-25 19:37] Zyphrax commented on #36
The performance issue seems to be caused by the WebSocket frame parser. I have to rework the part that processes the payload a bit. I'll keep you posted.

[2018-07-25 20:41] mikina commented on #36
Thanks for the information and thank you for taking care of this 😊

[2018-07-29 02:49] Zyphrax commented on #36
I've fixed the slow parsing in commit https://github.com/Building42/Telegraph/commit/ed55f1ad77d1bb2ba884c4da48cbef11aa1295a6 🎉

I'll probably release a new Telegraph version tomorrow.
I have a few more fixes that I want to add to the new version as well.

[2018-07-29 03:10] Zyphrax commented on #30
@joshavant Thank you so much for the demo applications.

This problem was caused by an issue in the WebSocket parser. I've fixed that issue in commit https://github.com/Building42/Telegraph/commit/ed55f1ad77d1bb2ba884c4da48cbef11aa1295a6

Your demo applications now work as they should. You can try it out yourself by replacing the Telegraph line in your podfiles with:
[code]
If you run into any err

[2018-07-29 03:13] Zyphrax commented on #30
@chajuss @Joebayld Can you please try the new commit of Telegraph? It will probably fix your websocket issues. Use this in your podfile to try it out:
[code]

[2018-07-29 09:50] mikina commented on #36
Excellent news 🎉 I will test it and let you know 😊

[2018-08-04 06:13] Zyphrax commented on #38
I've tested downloading a large image (16.4 MB) and it completed in 225 milliseconds:

![photodownload](https://user-images.githubusercontent.com/966500/43673106-b1ef717c-978a-11e8-9872-ea7791e1e775.png)

If you download a lot of images simultaneously you will probably run into problems though. The file handler in Telegraph is kinda basic at the moment. It will load the entire file in memory, then

[2018-08-04 06:16] #38 closed

[2018-08-20 07:22] lucson312 opened #39 "Safari: Invalid certificate chain"
I am having this issue with Safari: WebSocket network error: OSStatus Error -9807: Invalid certificate chain. It only happens on Safari when I try to connect to a wss.

Thanks!

[2018-08-21 12:42] lucson312 commented on #39
Found out that the self signed certificate added to my keychain was not trusted. I had to navigate to the webserver on safari and accept the certificate manually.

[2018-08-21 12:42] #39 closed

[2018-08-27 23:47] pansophy opened #40 "Basic Auth/OAuth (Authorization header) Support?"
Is there a way to add basic auth or OAuth support like CocoaHTTPServer?

[2018-08-29 07:47] EspenMarthini opened #41 "Serving mp4 video"
I am trying to serve a video in mp4 format without any luck. The player shows with a line/slash above the play symbol. Do this server support HTTP range requests= Will this be possible without setting up sockets or other configuration? I will appreciate any help. Here are some code snippets from my project:

[code]

    func startWebServer(){
        if let identity = identity, let caCertificate =

[2018-08-30 17:02] chajuss commented on #30
Sorry, I used PocketSocket for now, however I will give Telegraph an extra shot once I'll get the time to do the switch.

[2018-10-26 01:39] RockyF opened #43 "update cocoapods?"
Could you update telegraph on cocoapods?

[2018-10-26 03:14] Zyphrax commented on #43
Yes, I'll probably release a new version this weekend.

I need a bit of time to work out the changelog.
This new version has a few deprecations / big changes.

[2018-10-26 05:44] RockyF commented on #43
good

[2018-10-26 05:44] #43 closed

[2018-10-29 01:16] Zyphrax commented on #43
@RockyF Version 0.18 has been released!  🎉

Please note that CocoaPods 1.5.3 has issues with Xcode 10.
You can use the CocoaPods beta if you like: `gem install cocoapods --pre`

Another workaround (without installing the beta) is to patch the shell scripts in your solution.
This is what I do with the Telegraph demo project, see commit https://github.com/Building42/Telegraph/commit/d6e222f719c4af3c

[2018-10-29 03:00] RockyF commented on #43
@Zyphrax got it

[2018-10-29 04:51] Zyphrax commented on #41
@EspenMarthini I've just pushed a commit that adds range requests for files. On my iPhone I was now able to watch a mp4 file hosted by Telegraph.

See commit: https://github.com/Building42/Telegraph/commit/3c3887f735b15a01f2ad989f82166ad639af46ab

If you are using CocoaPods you can test it out using:
[code]

If you are using Carthage you can add this to your Cartfile:
[code]

[2018-10-29 05:08] Zyphrax commented on #40
@pansophy It should be possible to add these types of authorization. The web server aspect of authorization often involves headers and redirection, both are possible with Telegraph.

For example you can specify a Authorization header like this:
[code]
And then read that header in the handler of your route:
[code]

[2018-10-29 05:09] #34 closed

[2018-10-29 05:14] Zyphrax commented on #27
I've just pushed a commit that adds support for range requests on files. That might help in some cases and for example allows for streaming video on iOS. It contains FileHandle code to read parts of the files.

However this does not resolve the memory issue yet. To fix that we need to build in proper streaming, for example by adding something like a bodyStream variable to HTTPResponse.

I will pro

[2018-10-29 05:20] Zyphrax commented on #6
Telegraph at the moment is mainly targeted on the mobile devices and desktop apps under macOS. Because of its dependencies I currently see no way currently to make it available for CLI applications.

If you want to run a web server as a CLI or for example under Unix, then you might want to checkout [Vapor](https://vapor.codes/),  [Kitura](https://www.kitura.io/) or roll your own implementation usi

[2018-10-29 05:20] #6 closed

[2018-10-29 06:53] aplekhanov commented on #27
Great to hear it! Have you dig into a new Network framework?

[2018-10-29 19:35] Zyphrax commented on #27
Yeah, I'm working on a wrapper for the Apple Network framework and a DispatchIO implementation for iOS 11 and lower versions. The SSL implementation is going to be a nightmare, but I'll try 😅

[2018-11-01 02:08] RockyF opened #44 "v0.18, websocket server got a same message twice."
I just update telegraph v0.18
Client send a textframe with 'hello', and server print 'hello' twice in different threads but ping-pong message.

[2018-11-01 05:48] RockyF commented on #44
Sorry it's my fault. 😭

[2018-11-01 05:48] #44 closed

[2018-11-01 06:55] RockyF opened #45 "The header (Sec-WebSocket-Protocol) is not returned to the client on the real device"
v0.18, websocketserver module.
It's all right on the emulator, but it's going to go wrong on the real device, getting Sec-WebSocket-Protocol headers empty strings on the client side
error:

request:

response:

[2018-11-01 13:35] Zyphrax commented on #45
That is indeed a bug. I've fixed it in the latest commit. You can use the master version if you want to test it out. I'll release a new version (0.19) later today.

Another workaround is to **not** set a `Sec-WebSocket-Protocol` (if that is possible).

[2018-11-02 16:33] Zyphrax commented on #45
Version 0.19 has been released 🎉

[2018-11-02 17:15] Zyphrax commented on #41
Version 0.19 has been released with support for range requests.

[2018-11-02 17:15] #41 closed

[2018-11-02 17:16] #40 closed

[2018-11-04 09:41] siempay opened #46 "cant access to server from local"
Hi,
I did install Telegraph by pod, and then in `application: didFinishLaunchingWithOptions` I have:
`	let server = Server()
		try! server.start(onInterface: "localhost", port: 9000)

		server.route(.get, "status") { () -> HTTPResponse in
			return HTTPResponse(.ok, content: "server is running")
		}

		server.serveBundle(.main, "/")`

but I dont know how to access `localhost:9000` from my browser

[2018-11-04 12:09] #46 closed

[2018-11-04 12:10] siempay commented on #46
I should of declared `var server: Server!`  as a singleton on at least outside the controller

[2018-11-04 20:48] Zyphrax commented on #46
@siempay Yes, the problem is that your Server instance is automatically deallocated at the end of the function. You can retain it in an instance variable if you want to prevent that from happening.

For example:
[code]

I recommend using the latest version of Telegraph (0.20).

[2018-11-25 17:55] rahulsu opened #47 "Not able to run IOS Example app on iPhone,iphone crashes"
I followed all the steps:
Able to run the IOS Example on iPhone simulator, and test https://localhost:9000.
However, when I change the target to IOS device that I have ( my iPhone 6S Plus, with IOS 12.1),
Xcode says my app is running, but the app is crashing as the debug windows of Xcode says.
perhaps, the app is open on iPhone, but it does not respond to any http request as the code had crashed.

[2018-11-26 18:31] Zyphrax commented on #47
That's strange, are you using the latest versions of Xcode and Carthage?
- Xcode 10.1 (10B61)
- Carthage 0.31.2

The `dyld: Library not loaded: @rpath/Telegraph.framework/Telegraph` error usually happens if you start the example app and it is unable to find the Telegraph framework.

Perhaps try again by creating a fresh clone:
[code]

Then go into the Telegraph folder and let Carthage install the

[2018-11-28 06:42] rahulsu commented on #47
Thank you so much.
You pointed me to go in the right direction to fix this - library issue.
I did not copied the framework libraries and added input paths at Build settings, as were mentioned in the readme.
Followed all the steps in the readme, the issue is resolved.

[2018-11-28 07:03] rahulsu opened #48 "how to set 'Location' header in the response to achieve http-redirection"
I wanted this server (IOSExample) to redirect the calling user agent to get redirected. So while sending the response, I would like to insert 'headers' (2nd argument) with `Location : "www.google.com"`. I am not able to find the correct way of coding it.

I tried the below any but `response.headers.location = "www.google.com";`  code is crashing with SIGABRT.

Can you please throw some light on wh

[2018-12-01 20:46] wpen opened #49 "not work on the device"
v0.21,i created a webService in my app, transfer file from PC  to my app on the same wifi.
It's all right on the simulator, but it's going to go wrong on the real device, can not open index.html on my pc,always show me time out,and no error was logged at the console.

[2018-12-03 15:32] Zyphrax commented on #49
That's weird, did you encounter this issue specifically after upgrading?

Are you using a macOS, tvOS or iOS app?
Have you tried a manual request using the curl command from terminal?

Are the App Transport Security settings configured properly?
https://github.com/Building42/Telegraph#configure-app-transport-security

Timeouts normally only occur when you are connecting to an incorrect port. For e

[2018-12-03 15:34] Zyphrax commented on #47
Yeah Carthage sometimes is a bit of a pain, but CocoaPods is causing so many issues with Xcode 10 that I've decided to use Carthage for now. It also results in a cleaner library.

Glad you got it working!

[2018-12-03 15:34] #47 closed

[2018-12-03 16:21] Zyphrax commented on #48
You were really close to the solution. Here's an example:

**Route registration**
[code]

**Route handler**
[code]
If you want to redirect to an external site, always use the full url (including http:// or https://).
Otherwise it will be a redirect to a local path (for example /index.html).

To make it a bit easier, I've just pushed a commit that adds a few more commonly used headers.

The shortes

[2018-12-03 17:04] Zyphrax commented on #48
I've release version 0.22 with the extra headers.
After you update to that version, you no longer need the HTTPHeader extension for `location`.

If you have any questions, feel free to reopen this ticket.

[2018-12-03 17:04] #48 closed

[2018-12-05 12:51] cflorion opened #50 "Http connections closes after a while"
Hi :)
The library is great, everything works well thanks !
But, after a while (i.e 10 minutes) leaving the server on (an iPad) with a socket connection open (by calling server.start(onPort:), the other devices cannot connect the server anymore.

If I restart the server (stop then start), the connection comes back. II tried putting a timer that restarts the server periodically but this is not a per

[2018-12-07 00:03] Zyphrax commented on #50
Hi!

Thank you! Glad you like it!

Does the app stay active in the foreground? If your app is suspended Apple will eventually unload your app and close the connections.

See https://github.com/Building42/Telegraph#what-if-the-device-goes-on-standby

Have you tried keeping the demo app active for 10 minutes?
Do you encounter the same problem there?

[2018-12-07 13:48] rahulsu commented on #50
Hi
   I wanted to see how this  IOS Example app will behave with respect to handling HTTP connections. It works great while its in foreground.
   But I wanted an end behavior, where after launching this Example IOS App, I would like to have another third party IOS app on the device ( that will HTTP-talk to this IOS Example App). But as soon as switch ( IOS example APp is not running  any more in t

[2018-12-28 00:21] Zyphrax commented on #50
Sorry for my late reply, I've been crazy busy.

@cflorion
Using Telegraph in our project I haven't noticed the server becoming unresponsive. Could there perhaps be something blocking the requests? Is your app multi-threaded? If you have some code that I can use to reproduce the problem, I'd be happy to take a look at what might go wrong.

Also are you using the latest version of Telegraph?

@rahul

[2019-01-06 12:43] cflorion commented on #50
@Zyphrax Thanks for your answer !
I am still trying to identify and better understand my own problem.
When you are asking if my app is multithreaded, what do you mean ?
My local server is initialized from the main thread, so I guess the routes callbacks are called on the main thread also ?
[code]

Should I dispatch `handleLock()` on another thread ?
Should I also call `server = CRHTTPServer()`on a

[2019-01-07 22:23] Zyphrax commented on #50
@cflorion The code example you provided looks like Criollo instead of Telegraph, I'm not sure how they handle requests in their library.

Like most webservers Telegraph handles requests in a background thread, this allows simultaneous requests and prevents blocking the main thread. You do have to be careful and make sure that the code in the route callbacks is thread-safe. If for example two reque

[2019-01-11 16:17] cflorion commented on #50
Yes, sorry @Zyphrax  I copied code from another project... 🤦‍♂️

[2019-01-11 16:17] #50 closed

[2019-01-12 01:47] Zyphrax commented on #50
@cflorion No problem. If you do run into issues with Telegraph please let me know, I'd be happy to take a look at it!

[2019-01-15 10:31] MikeyLew opened #51 "Serving an Web App that requires rewrite rules via a web config"
Is there a way to serve a web app that requires rewrite rules that are defined in a web config?

[2019-01-16 17:03] Zyphrax commented on #51
It is possible, but it would require a bit of coding.

Based on the example in the [Microsoft docs](https://docs.microsoft.com/en-us/iis/extensions/url-rewrite-module/creating-rewrite-rules-for-the-url-rewrite-module#viewing-the-rewrite-rule-in-configuration-file):
[code]

You could:

1. Create a handler (have a look at [HTTPFileHandler](https://github.com/Building42/Telegraph/blob/master/Sources/

[2019-01-17 13:50] MikeyLew commented on #51
Thanks for the reply. I understand the work needed to parse the xml and thanks for the suggestion about the Handler, my main question is how to rewrite a route to allow an angular app to handle the routing.

I am trying to handle the routes like so:

`server.route(.GET, "/*", serverHandleRedirect)`

And then I change the request.uri back to .root but it doesn't seem to work.

This is my web.config

[2019-01-17 15:35] #51 closed

[2019-01-17 15:36] MikeyLew commented on #51
Thanks for the help!

[2019-01-23 16:51] chajuss opened #53 "Get client hostname when web socket connects to server"
Hi,

Is there a way to get the client hostname when it connects to the web socket server?

Thanks

[2019-01-23 20:21] Zyphrax commented on #53
@chajuss I've just released Telegraph 0.24. It adds endpoint information to the WebSocket protocol.
If you handle this delegate call on the Server, you can extract the client endpoint information:
[code]

The new version is already available for Carthage and should be available for CocoaPods in a few minutes.

Feel free to reopen this if you run into any issues!

[2019-01-23 20:21] #53 closed

[2019-01-24 17:05] MikeyLew opened #54 "iOS AppStore Validation fails using Carthage"
I have tried archiving my app that makes use of your framework via Carthage but I keep getting the following, any suggestions?

<img width="721" alt="screenshot 2019-01-24 at 17 01 51" src="https://user-images.githubusercontent.com/26795076/51695090-23895a80-1ffa-11e9-8438-7d6bf78f670f.png">

[2019-01-24 19:47] Zyphrax commented on #54
This might be caused by a Carthage configuration issue in your project.

**Carthage Build Phase**
Make sure your project's Target has a Carthage Build Phase
Mine is called `[Carthage] Copy Frameworks` and inserted after `Copy Bundle Resources`
[code]

The Input Files section should contain a line for every framework (and dependency). For example:
[code]

The Output Files section should contain sim

[2019-01-30 10:53] MikeyLew commented on #54
Thanks!

[2019-01-30 10:53] #54 closed

[2019-01-30 11:19] MikeyLew commented on #7
Will trusting it on your machine before compiling enable it to work when you distribute it?

[2019-02-01 03:34] Zyphrax commented on #7
@MikeyLew Self-signed certificates need to be added to the machines that will run the webserver. Unfortunately it isn't possible to compile this into the app, because that would allow developers to override system certificates.

Malicious apps would for example be able to include a certificate for `google.com` and break into Gmail and your web searches.

If you deploy your app using an installer,

[2019-02-01 14:42] MikeyLew commented on #7
Thanks for this, so we can't use Telegraph as a HTTPS server within an App distributed on the App store then? Thanks for clarifying 👍

[2019-02-06 01:03] Zyphrax commented on #7
@MikeyLew You are free to use Telegraph as an HTTPS server in App Store apps.

For Mac apps it would probably be best if you add a configuration dialog where the user can select the certificate that is going to be used by the server.

For iOS apps you could create your own Certificate Authority. But it would require installation of the certificates on the devices.

If you control the client app yo

[2019-02-27 10:38] maxeppc opened #55 "How should I format route to support multicomponent path"
I would like to serve data when api receive call to "/first/second" but then it return 404..
How should I format route or handler to support this?

[2019-03-01 12:22] henryhenryhenry3 opened #56 "WebSocket disconnected, error: The handshake request failed with status 101 Web Socket Protocol Handshake"
[code]

But some other Websocket Server (like Java-WebSocket) returned
`code:101,  phrase:"Web Socket Protocol Handshake"`

So the Telegraph client can not connect to this server.
`The handshake request failed with status 101 Web Socket Protocol Handshake`

[2019-03-02 00:20] Zyphrax commented on #56
That error would indicate that the Telegraph client didn't accept the WebSocket server's handshake. That might be caused by an invalid header or otherwise invalid HTTPResponse.

Do you have a small example app for me to replicate the issue?
Or a quick way that I can run the Java-WebSocket server myself?

[2019-03-02 00:34] Zyphrax commented on #55
Do you want `first` and `second` to be variables?
The code fragments below are based on the Telegraph example app in this repository.

**With variables**

You specify a route with two variables: name and country
[code]

Then in the handler you can grab the variable values from the request params:

[code]

**Without variables**

If you want a route that simply consists of multiple fragments. You ca

[2019-03-06 09:10] henryhenryhenry3 commented on #56
I replaced:
extension HTTPStatus {
  public static func == (lhs: HTTPStatus, rhs: HTTPStatus) -> Bool {
    return lhs.code == rhs.code && lhs.phrase == rhs.phrase
  }
}

with:
extension HTTPStatus {
  public static func == (lhs: HTTPStatus, rhs: HTTPStatus) -> Bool {
    return lhs.code == rhs.code
  }
}

works well  :-)

[2019-03-06 18:26] Zyphrax commented on #55
Closing this for now, let me know if you have any questions

[2019-03-06 18:26] #55 closed

[2019-03-06 21:56] Zyphrax commented on #56
Ah that is interesting, the handshake was rejected because the HTTPStatus phrases are different: `"Switching Protocols" != "Web Socket Protocol Handshake"`

A few minutes ago I've pushed a commit that improves the Equatable implementation of HTTPStatus. Now by default two HTTPStatus values are compared by code unless they are created with `strict: true`.

Can you try the `master` branch for me in

[2019-03-10 07:42] #56 closed

[2019-03-10 22:03] Zyphrax commented on #56
@henryhenryhenry3 Did the latest version on master branch resolve your issue?
If so, I'll publish the version.

[2019-03-27 07:10] pmpmopm1 opened #57 "How to use CORS?"
I want to call "localhost" from another domain.
How to setting CORS?

[2019-03-28 01:44] pmpmopm1 commented on #57
Sorry.
I success after header.

[2019-03-28 01:44] #57 closed

[2019-03-29 00:12] Zyphrax commented on #57
@pmpmopm1 Not a problem. If you are using this in a development scenario you can send the following header back to the client:

[code]

If you want to make it a bit fancier, you can create a handler:

[code]

[2019-04-27 07:06] sultan-karybaev opened #58 "Error with start"
Showing Recent Messages
:-1: Cycle inside iOS Example; building could produce unreliable results. This usually can be resolved by moving the shell script phase 'h' so that it runs before the build phase that depends on its outputs.
Cycle details:
→ That command depends on command in Target 'iOS Example': script phase “[CP] Embed Pods Frameworks”
○ That command depends on command in Target 'iOS Exa

[2019-04-29 20:23] Zyphrax commented on #58
@sultan-karybaev Are you using the latest version of Telegraph (0.25)?
The example projects use Carthage instead of CocoaPods and don't have any Pods build phases.

Please have a look at this part of the readme on how to run the examples:
https://github.com/Building42/Telegraph#build

[2019-05-05 06:34] dongkaipo opened #59 "How to use html file like nginx?"
I want to use it to make an html server，but I didn't find any information about that.Do you have any good advice or guidance to help me? Thank you very much.

[2019-05-07 19:18] Zyphrax commented on #59
With Telegraph offers a few ways to serve HTML content. I recommend cloning the repository and having a look at the example apps. See the [Build section of the README](https://github.com/Building42/Telegraph#build).

The example app serves files from the app's bundle.

If you have any questions about it, don't hesitate to reopen this issue.

[2019-05-07 19:18] #59 closed

[2019-05-07 19:18] #58 closed

[2019-05-09 03:11] YiYiZheng commented on #57
Could you pls show the code how to set the header. Thx

[2019-05-10 23:00] Zyphrax commented on #57
@YiYiZheng I've added a section about CORS to the readme:
https://github.com/Building42/Telegraph#http-cross-origin-resource-sharing-cors

If you have a response object, simply set the header with:
[code]

[2019-06-01 08:55] mattlin opened #60 "Whether there are plans to support HTTP 2.0 ?"
Whether there are plans to support HTTP 2.0 ?

[2019-06-01 18:17] Zyphrax commented on #60
@mattlin Unfortunately in order to keep Telegraph compatible with iOS and tvOS it won't be possible to support HTTP 2.0 at this moment. For more information see:

https://github.com/Building42/Telegraph#what-about-http2-support

[2019-06-01 18:17] #60 closed

[2019-06-09 10:06] omarojo opened #61 "Multiple File Upload Requests"
Im trying to have 7 iOS devices.
One is the Web Server, the others connect to the server via WebSockets.
So when the Server notifies the clients (via websocket) to take a Photo they all take a photo/video at the same time. and then Upload Image/Video file to Server via AFNetworking/Alamofire

Do you think your library can handle the upload request from 7 clients at the same time, would this happen

[2019-06-12 02:17] Zyphrax commented on #61
In one of my projects I use Telegraph for communication between iPads on a local network. One iPad is the "master" and the other iPads connect to it.

If you are using WebSockets you could use them directly to send the photo / video from the client to the server. The WebSocket will work in both directions and might save you a bit of overhead compared to the requests with AFNetworking or AlamoFire.

[2019-06-13 01:22] omarojo commented on #61
oh Wow.. thanks for the detailed reply.

So do you think using Websockets to transfer 7 media files at the same time can be easily handled by the Telegraph server ? is there a way to know if the transfer fails ?

:)

[2019-06-13 01:55] Zyphrax commented on #61
It depends a bit on the hardware of the devices that you are going to use, but if the images aren't too big then it shouldn't be a problem.

Some of the implementation in file handling is a bit rough in Telegraph, mainly because of the dependency on CocoaAsyncSocket. So it might eat a bit of memory on your device, but I think it will be the simplest solution to implement.

[2019-06-27 15:14] JUSTINMKAUFMAN opened #62 "Missing case for PATCH operations in HTTPMethod"
Nice work on supporting SSL!

Possible I'm just missing something, but is there a way to handle `.PATCH` requests with Telegraph? Does not appear to be a case in your `HTTPMethod` enum.

Thanks very much.

[2019-06-27 15:41] Zyphrax commented on #61
Please let me know if I can be of help here. I'll close the issue for now.

[2019-06-27 15:41] #61 closed

[2019-06-27 18:29] JUSTINMKAUFMAN commented on #62
You’re awesome! Thanks very much!

Separately:

Not sure if this out of scope for this project, but I hacked together a way of ingesting an OpenAPI spec and spitting out a working Telegraph server. I actually started building it for Vapor, but decided to try yours when I needed TLS. So now the system creates server extensions that make the generated output compatible with Vapor and Telegraph.

If

[2019-06-27 22:50] Zyphrax commented on #62
A few minutes ago I've pushed a commit for the PATCH method. I'll probably release a new version in the weekend. I want to have a look at the new Xcode beta and see if there are any warnings or other issues in preparation of iOS 13.

An OpenAPI spec sounds like a nice feature. I want to keep the library lean, but it might be a valuable addition to the library! I should eventually move some of the

[2019-07-01 02:32] Zyphrax commented on #62
Version 0.26 is now available! 🎉

[2019-07-01 02:32] #62 closed

[2019-07-01 07:00] YiYiZheng opened #63 "How can I return a index.html when some URL load?"
How can I write the code? Thanks

[2019-07-01 17:16] JUSTINMKAUFMAN opened #64 "SSE EventSource Server"
First of all, thanks for creating the release with the PATCH method included (as well as the other updates for Xcode 11)!

I'm wondering what your recommended approach is for implementing a SSE event server. If it were up to me, I'd just use WebSockets, but I need to mimic a 3rd party service that uses SSE in order to achieve a compatible server for my clients (in case you're not familiar, here's

[2019-07-01 17:30] JUSTINMKAUFMAN commented on #63
@YiYiZheng You can serve index.html by putting the file in your bundle resources and calling `server.serveBundle(.main, "/")` when you setup your server. This is documented and implemented in the demo server, check it out!

[2019-07-01 18:44] Zyphrax commented on #64
You are very welcome!

Server side events is a bit of a tricky one. I think the easiest way to do this is by diving into this segment of code of the `Server` class (line 150):

[code]

When there is an incoming HTTP request the Server moves the request onto the workerQueue so that it can handle concurrent requests. Instead of adding the operation to the workerQueue you could wrap the request into

[2019-07-01 18:49] Zyphrax commented on #63
The demo code is here: https://github.com/Building42/Telegraph/blob/13aee20cf4c7fa0a4a9e636cea53b4d4b4deed6f/Examples/Demo/TelegraphDemo.swift#L76

[2019-07-01 18:49] #63 closed

[2019-07-01 22:29] JUSTINMKAUFMAN commented on #64
Thanks for the quick reply! I forked the library and got it working pretty easily.

[2019-07-02 19:55] JUSTINMKAUFMAN commented on #64
So it turns out my code for holding on to SSE client connections and sending them event data is not working as expected.

Here's what I'm trying to get the connection (in my forked version of the repo):

[code]

And here's the SSEStream class:

[code]

It seems the client disconnects and attempts to reconnect when I call `connection.send(...)`.

And if I don't call `send`, none of my `socket.write

[2019-07-03 00:05] JUSTINMKAUFMAN commented on #64
Nevermind, I figured it out! Here's the SSEStream code I ended up with:

[code]

[2019-07-03 04:50] JUSTINMKAUFMAN opened #65 "Path Expression When Parameter is Not Last Component"
This works well to route a profile get request with a trailing 'userid' param:

[code]

...but how do I write it when the userid param is in the middle, like:

[code]

?

[2019-07-03 17:25] Zyphrax commented on #64
Nice! Great to see that this works!

Do you need the Objective-C compatibility? Otherwise you can use the `DispatchTimer` class (see Sources/Helpers) if you like. It is also a bit more performant than the regular Timer and you can use closures with it.

I should also add `Access-Control-Allow-Origin` to the list of built-in headers.

[2019-07-03 17:44] Zyphrax commented on #64
`Access-Control-Allow-Origin` is now a built-in header

[2019-07-03 17:54] Zyphrax commented on #64
I've also added an extra `send` method to `HTTPConnection` to make it easier to write raw `Data`. That way you won't have to use the `upgrade` function to get access to the `socket`.

[2019-07-03 18:02] Zyphrax commented on #65
Params in the middle should work. In the demo app I tried the following:

If you change line 69 in TelegraphDemo.swift from
`server.route(.GET, "hello/:name", serverHandleHello)` to
`server.route(.GET, "hello/:name/test", serverHandleHello)`

Then you should get the following results to these requests:
- https://localhost:9000/hello/bob => 404
- https://localhost:9000/hello/bob/test => 200, "Hello

[2019-07-03 18:56] JUSTINMKAUFMAN commented on #64
That's excellent! I'll look out for the release :)

[2019-07-03 18:57] JUSTINMKAUFMAN commented on #64
Well actually, unless you're also adding an interface for custom handling of an incoming `HTTPConnection`, I'll still need to use my fork :(

[2019-07-03 19:35] Zyphrax commented on #64
Perhaps I should move some of the code in `Server` to a `Worker` class.
The `Worker` would have the queue (now `workerQueue` in `Server`).

By replacing the `Worker` instance on `Server` with a custom `Worker` it would probably become a lot easier to customize request handling.

Let me know what you think.

[2019-07-03 20:15] JUSTINMKAUFMAN commented on #64
I’d need to see the API to give substantive feedback, but that sounds like the right idea.

An approach I was considering implementing in my fork was to make connections (optionally) routable with a special conformance in the Server class.

Essentially, the most familiar/friendly and potentially least disruptive thing would be to let users route connections based on the request.

For example, say

[2019-07-03 20:26] JUSTINMKAUFMAN commented on #65
I closed this because I got it to work by adding a trailing / at the end of the uri string. If I didn’t have that, then these requests were incorrectly matching on a route that didn’t have the variable param path component.

[2019-07-03 21:05] Zyphrax commented on #64
Yes it would be a good idea to allow a specific handler to process requests on a specific path. This probably requires a bit of a redesign of the Server class and the routing classes.

To prevent the change from becoming too big, I've modified the Server class a bit to make it easier to override the functions. With this change you can create a class that inherits from Server and override the `hand

[2019-07-03 21:09] Zyphrax commented on #65
Can you try to add `(/)` at the end of the route specification?
For example: `/api/v1/:userid/profile(/)`

That should allow the slash at the end to be optional.

[2019-07-03 23:05] JUSTINMKAUFMAN commented on #64
That’s perfect for now. Thanks!

[2019-07-06 22:48] JUSTINMKAUFMAN commented on #65
@Zyphrax I figured out the cause of the bug.

If the requestor passes an `=` character in a parameter-type path component (e.g. `api/v1/eifjiihgrio=`) and you have multiple routes, some with params in the same places (e.g. `api/v1/:userid` and `api/v1/:userid/:pref/ok`), none of the associated routes work.

Must be something wrong with the regex parser?

Not a good solution, but to assist w/ debug

[2019-07-08 20:51] Zyphrax commented on #65
@JUSTINMKAUFMAN A few minutes ago I pushed a commit with a few changes to `HTTPRoute`. I've removed some of the validation code to allow more complex paths and special characters.

Can you give the code on the `master` branch a spin for me?

[2019-07-09 10:25] wyxy2005 commented on #49
I met it,too. I use safari download zip code, run command:"cartfile bootstrap" and open Telegraph.xcworkspace ,select project "iOS Example" run at the iPhone6plus  device(version 11.4.1) ,(project default config  don't worker in the devices,show not found framework,so I'm change Link Binary With Libraries:set telegraph.framework status equal "Optional" ,run Simulators is ok. very good result!  but

[2019-07-09 10:27] wyxy2005 commented on #49
![1562668053189](https://user-images.githubusercontent.com/2068536/60880941-42616d80-a277-11e9-8ffc-bc425aa15c18.jpg)
![1562667973661](https://user-images.githubusercontent.com/2068536/60880943-42616d80-a277-11e9-9848-a27d798d4c70.jpg)

[2019-07-09 10:41] wyxy2005 opened #66 "iOS Examplex always crash"
iOS Examples always crash: `Terminated due to signal 9`

I use safari download source code, run command `cartfile bootstrap` and open Telegraph.xcworkspace, select project "iOS Example" run at the iPhone device (version 11.4.1),(project default config don't worker in the devices, show not found framework, so I'm change Link Binary With Libraries: set Telegraph.framework status equal "Optional", ru

[2019-07-09 16:03] #64 closed

[2019-07-13 22:02] Zyphrax commented on #65
@JUSTINMKAUFMAN Does the commit fix the `HTTPRoute` issues?

[2019-07-13 22:02] #65 closed

[2019-07-17 21:23] Zyphrax commented on #66
Sorry for taking a while to get back to you. Dependency management for libraries can be a bit of a pain. I've made a few changes that should fix the annoying dylib errors.

Can you try the following for me?

1. Make sure you have the latest Git and Carthage installed
```brew install git carthage```

2. Clone the repository
```git clone git@github.com:Building42/Telegraph.git```

3. Run Carthage to

[2019-07-18 11:06] wyxy2005 commented on #66
git clone git@github.com:Building42/Telegraph.git
Cloning into 'Telegraph'...
The authenticity of host 'github.com (13.229.188.59)' can't be established.
RSA key fingerprint is SHA256:nThbg6kXUpJWGl7E1IGOCspRomTxdCARLviKw6E5SY8.
Are you sure you want to continue connecting (yes/no)? yes
Warning: Permanently added 'github.com,13.229.188.59' (RSA) to the list of known hosts.
git@github.com: Permissi

[2019-07-18 11:20] wyxy2005 commented on #66
Thanks! You can fixes this problem!  Demo can running!

[2019-07-18 16:50] JUSTINMKAUFMAN commented on #65
@Zyphrax Yes it does, thank you! Looking forward to the next release!

[2019-07-18 16:51] JUSTINMKAUFMAN commented on #27
@Zyphrax I am interested to hear whether or not you decided to pursue this. Not an urgent feature for me, but would be nice to have 😄.

[2019-07-19 17:15] Zyphrax commented on #27
Hi @JUSTINMKAUFMAN. Darwin sockets are quite complex and especially the SecureTransport SSL layer is going to be a challenge. I'm still working on it, but haven't had much time to spend on it.

As soon as I have a unified network layer, I'll dive into proper buffering for large files.

[2019-07-19 17:16] Zyphrax commented on #66
@wyxy2005 Great! Glad it is working!

[2019-07-19 17:16] #66 closed

[2019-07-19 20:45] Zyphrax commented on #65
@JUSTINMKAUFMAN Version 0.27 is now available! 🎉

[2019-07-20 00:41] JUSTINMKAUFMAN commented on #65
You’re the best!

[2019-08-13 12:45] wyxy2005 opened #67 "I can't send msg by wss connect"
I use demo test,but demo can't send msg by wss connect.test address(wss://ppz.17kb.com:8585)

So long as send a msg ,the server quick close and xcode show msg:
Error Domain=GCDAsyncSocketErrorDomain Code=7 "Socket closed by remote peer" UserInfo={NSLocalizedDescription=Socket closed by remote peer}

I use js is ok. code demo:
`<script>
var ws = new WebSocket("wss://ppz.17kb.com:8585");
var close =

[2019-08-14 04:16] wyxy2005 commented on #67
I'm use server is php . read server err log:"frame not masked so close the connection"
and find the workerman soucecode:
![1565755982425](https://user-images.githubusercontent.com/2068536/62994216-5d825700-be8d-11e9-8ff7-1f0456f841d5.jpg)

[2019-08-14 06:15] wyxy2005 commented on #67
... Only set config:
`client?.config.maskMessages = true`

[2019-08-14 06:15] wyxy2005 commented on #67
So it's not a bug!

[2019-08-14 06:15] #67 closed

[2019-08-15 22:29] Zyphrax commented on #67
@wyxy2005 Great, I see you already found the solution!

Telegraph by default only enables WebSocket masks if the messages are passed over an unsecure connection (HTTP). For secure connections the mask is default false.

[2019-08-28 08:44] HelloHchen opened #68 "SSLHandshake failed (-9806/-9807)，How to skip certificates？"
SSLHandshake failed (-9806/-9807)，How to skip certificates？
I don't need a certificate when I'm using android webServer，What about iOS? Do I have to get a certificate?

[2019-08-29 15:26] Zyphrax commented on #68
Please check this section of the readme on how to create an regular HTTP server:
https://github.com/Building42/Telegraph#http-server

For example:
[code]

This section goes into loading certificates:
https://github.com/Building42/Telegraph#prepare-the-certificates

Here is information on how to create a self-signed certificate:
https://devcenter.heroku.com/articles/ssl-certificate-self

Feel free

[2019-08-29 15:26] #68 closed

[2019-10-29 15:26] marciogranzotto opened #69 "Build with carthage breaks with Swiftlint 0.25.0"
With the new Swiftlint `0.25.0` installed, Carthage install fails with 9 linter errors:

[code]

Looks like you have to add an exclusion rule for `identifier_name` or fix the linter errors. Meanwhile it's impossible to build with Carthage and that Swiftlint version.

[2019-10-29 19:33] #69 closed

[2019-11-22 10:41] maxeppc opened #70 "Validation of certificate"
Hi
I've implemeted https server.
How should I handle validation of incoming request?
I would like to check if incoming request with certificate matches server certificate.

[2019-11-26 14:00] MushroomDev opened #71 "IOS 13 Problem On Https Servers"
Https Server not run On IOS 13,All the Info is Right and IOS 12 works well,How can I fix it ?

[2019-12-07 11:55] matthiasnagel commented on #71
@MushroomDev can you provide more information please?

[2019-12-07 11:57] matthiasnagel opened #73 "Mutual SSL authentication"
Is there a way for handling client certificates? Right now mutual SSL/TLS authentication is not possible.

[2019-12-10 14:40] jfgrang opened #74 "Asynchronous respond"
I am looking for a way to make `respond` asynchronous.
In some cases I don't have a local file and I want to download it then deliver it.

The given example seems to only manage local synchronous requests. How would you perform a network download in that `nextHandler`chain ?

[code]

[2019-12-16 15:27] little-big-h opened #75 "Package.swift manifest file missing (preventing use in Xcode)"
I just tried adding Telegraph as a package in my iOS app and Xcode complains about a missing Package.swift manifest. Having it added will likely help adoption.

[2019-12-19 18:47] endy-s opened #76 "XCode 11.3 - Carthage Build failing!"
I just updated my XCode to 11.3, and it now uses Swift 5.1.3.

I have an SDK that includes Telegraph using Carthage and it is failing when I try to run `carthage update --platform iOS --no-use-binaries`.
Also tried `carthage build --platform iOS --no-use-binaries` and got the same error

This is the terminal output:
[code]

[2020-01-12 21:03] yvbeek commented on #75
@little-big-h I hope to be able to look into this next weekend.

It is quite a bit of work because the `CocoaAsyncSocket` and `HTTPParserC` dependencies would also require a Package.swift file to set this up. And then I have to make sure that it all works for the different platforms (iOS, macOS, etc.)

[2020-01-12 21:08] yvbeek commented on #74
@jfgrang Unfortunately Telegraph doesn't support asynchronous responses at this moment. You might be able to implement it by creating your own `Server` class, inherit from the existing `Server` class and overriding some of the request handling methods there.

It would be great if we could support a closure return type in a handler, but that requires some refactoring.

Maybe next weekend I'll be ab

[2020-01-12 21:08] yvbeek commented on #73
Unfortunately client certificate authentication isn't possible at this moment.

[2020-01-12 21:08] #73 closed

[2020-01-12 21:10] yvbeek commented on #70
You could create a handler to validate incoming requests. However if you want to check the certificate as part of the SSL handshake that isn't possible at this moment.

[2020-01-12 21:10] #70 closed

[2020-01-12 21:11] yvbeek commented on #71
The example app seems to have some issues on iOS 13. I hope to have a look at this next weekend.

[2020-01-16 12:15] Pikuseru opened #77 "0.28 release with PR #72 please?"
Pointing to a git commit at the moment, could I please request another 0.28 release for https://github.com/Building42/Telegraph/pull/72 so I can bump our podfile?

thankyou 😄

[2020-01-18 20:43] matthiasnagel commented on #73
For anybody who needs mutual SSL authentication for a web server which should run on iOS can check out SwiftNIO: https://github.com/swift-server/async-http-client/issues/27#issuecomment-489760481

[2020-01-20 20:49] yvbeek commented on #75
I've spend some time trying to set up the SPM support. It is difficult to set `CocoaAsyncSocket` up in a way that is compatible with CocoaPods, Carthage and SPM. See my efforts here:
https://github.com/Building42/CocoaAsyncSocket

If there is someone here who is a master of SPM, all help is appreciated!

[2020-01-20 20:51] yvbeek commented on #77
@Pikuseru I'd like to get Swift Package Manager support in there, after that I'll do the release
See issue #75

[2020-01-28 20:01] Pikuseru commented on #77
okay, thankyou :-)

[2020-02-04 08:55] tlemansec opened #78 "XMLHttpRequest CORS"
hello, i am facing a problem with XMLHttpRequest and CORS in a JS file loaded in a webview.

I'm currently testing your library to load locally a web application with html and js files. I load them in the serveDirectory like in [TelegraphLocalServer.txt] and later, i load a wkwebview with url http://127.0.0.1:9000/ .

I can see that local loaded files have in the response header Access-Control-All

[2020-02-04 14:23] #78 closed

[2020-02-04 14:23] tlemansec commented on #78
Mistake during test and integration

[2020-02-04 18:00] tlemansec commented on #74
hello @yvbeek , is there any news about this subject? i would like to intercept and execute some requests to a distant server before returning an HTTPResponse, but i don't see anything to do that. Am i wrong?

[2020-02-26 08:50] moxcomic opened #79 "iOS 13 not work"
[SERVER] Server is running - url: https://localhost:9000
[CLIENT] WebSocket connected - host: localhost
[SERVER] WebSocket connected - name: Yvo
[SERVER] WebSocket message sent: <WebSocketMessage: opcode: textFrame, payload: 'Welcome client Yvo'>
[CLIENT] WebSocket message received - text: Welcome client Yvo
[SERVER] WebSocket message sent: <WebSocketMessage: opcode: binaryFrame, payload: 6 bytes>

[2020-03-02 02:44] yvbeek commented on #79
Duplicate of https://github.com/Building42/Telegraph/issues/71

[2020-03-02 02:44] #79 closed

[2020-03-02 02:45] yvbeek commented on #71
It seems that Apple has put more restrictions on certificates for iOS 13:
https://support.apple.com/en-us/HT210176

I'm trying to create a `localhost` certificate that Apple will allow, but it proves difficult.

[2020-03-02 03:23] yvbeek commented on #75
@little-big-h The `master` branch should support the Swift Package Manager.
I haven't been able to fully test it yet, but could you try it out for me?

[2020-03-02 03:24] yvbeek commented on #77
@Pikuseru Sorry this is taking a while. The Swift Package Manager support and that iOS 13 issue were pretty difficult to tackle.

Could you please test the `master` branch for me?
If everything works well, I'll release a new version.

[2020-03-02 03:25] yvbeek commented on #74
@tlemansec Sorry for my late reply. Adding Swift Package Manager support and fixing the iOS 13 issue were way more difficult than I anticipated.

After this release I'll have a look at async reponses.

[2020-03-02 03:28] yvbeek commented on #71
I've generated new certificates for Telegraph, that should fix the `iOS 13` issue.

To make it a bit easier to generate your own self-signed certificates, I've added a Tools folder with a script that will do the right `openssl` commands. If I have a bit more time I might add a few customizations options to the script.

[2020-03-02 12:55] Pikuseru commented on #77
I'll schedule some time to take a look this week at master 👍 thanks 😄 It's fine there's no rush - we're all busy 😉

[2020-03-02 14:42] Pikuseru commented on #77
@yvbeek btw did you re-tag 2.9.2 HTTPParserC? Our cocoapods install of 0.27 just went a bit funny, we're looking into what it could be - the HTTPParserC `Pods/Target Support Files/HTTPParserC/HTTPParserC.modulemap` seems to disappear now, we were originally pointing at 2.9.2 when I check our old podfile.lock.

https://github.com/Building42/HTTPParserC/releases/tag/2.9.2

[2020-03-03 13:00] Pikuseru commented on #77
Hi @yvbeek I tried pointing cocoapods at master branch and was able to start the server alright and my UI tests worked so 👍 👍 from me 😄 We did have that separate issue with 2.9.2 tag pointing to another commit, so we changed our develop branch to point to 2.9.0 for the moment - although we'll probably end up bumping to 0.28 to pick up the latest version when you're ready 👍 thanks 😄

[2020-03-08 00:01] yvbeek commented on #77
Hi @Pikuseru, thank you for testing and sorry for the inconvenience caused by the changes to HTTPParserC. The issues should be resolved now.

Version 0.28 is now available 🚀

[2020-03-08 00:01] #77 closed

[2020-03-08 00:02] yvbeek commented on #75
Version 0.28 is now available with SPM support 🚀

[2020-03-08 00:02] #75 closed

[2020-03-08 00:04] yvbeek commented on #71
The iOS 13 issues with the demos should be resolved. If you have issues with Telegraph on iOS 13 or macOS 10.15, please check that your certificates meet Apple's new security requirements:
https://support.apple.com/en-us/HT210176

The Tools folder provides a script that can help you to generate dev certificates.

Version 0.28 is now available 🚀

[2020-03-08 00:04] #71 closed

[2020-03-08 00:07] yvbeek commented on #74
Version 0.28 is now available 🚀

To support asynchronous requests / responses I'm going to have to make some changes to the Server, Route and Handler classes. The most difficult part is the request handler chain, I have to somehow make that asynchronous.

I hope to have some time next weekend to work on it.

[2020-03-09 09:42] Pikuseru commented on #77
Thanks @yvbeek :-) ⭐️ 🚀

[2020-03-13 07:10] trnchawla opened #80 "Am new to iOS development, am trying to run http(insecure) server on iOS"
Hi,

I tried running the example iOS server. Http requests are running fine on same iPad(means I can do HTTP requests on the same iPad where HTTP server is running) but when I try to do HTTP request from another mac/iPhone/iPad on same network, I get an error on the browser. Do I need to have certificate always?

am running the server on iPad with version 13.3.1 and am trying to access it from the

[2020-03-14 16:00] samueleperricone commented on #74
@jfgrang I solved by using a `DispatchGroup`. Maybe is not optimal for scalability/concurrency, but for small async operation should be fine.
Here just an example calling a fake function `process` that returns a string:
[code]

[2020-03-15 20:00] yvbeek commented on #80
Hi @trnchawla

Apple is pushing hard for apps to use HTTPS instead of HTTP. But for local networks you can add the `NSAllowsLocalNetworking` key to your Info.plist.

For more info see: [Telegraph - Usage](https://github.com/Building42/Telegraph#usage) and the [Apple Docs](https://developer.apple.com/documentation/bundleresources/information_property_list/nsapptransportsecurity/nsallowslocalnetwork

[2020-03-15 20:00] #80 closed

[2020-03-24 13:41] trnchawla opened #81 "Not able to use this as dependency in swift package manager"
am using this in Package.swift file:
[code]
but it asks for Version but am seeing you are releasing as "0.28" and so on which is not correct according to swift package manager and it complains that it needs something like this "0.0.1".

If you are using versioning like "0.0.1", from where I can refer as am unable to find that in your repo. If you  have any other way please let me know.

[2020-03-24 22:01] antoineveldhoven opened #82 "Custom 404 Handler"
Hi Yvo,

First of all, compliments for the great work you've done on this project!
I was wondering if there is a custom 404 Handler that I can implement.

I would like to adjust to custom response of a 404. I'm currently serving a directory; if a file is not found within this directory, I would like to handle the request, e.g. reply with custom content.

[2020-03-27 14:14] iangmaia opened #83 "Unable to upgrade to 0.28 using Carthage"
I've been using Telegraph with Carthage, and when upgraded from 0.27 to 0.28 there was a compilation issue reported on the `import Telegraph` statement:
[code]

Reverting back to 0.27 again fixes the issue.

[2020-03-28 22:40] yvbeek commented on #82
Hi Antoine,

Thank you! It is always great to see people using this library!

Probably the easiest way is to create your own file not found handler.
Something like this should work, if you add it as a handler before the `HTTPFileHandler`:

[code]

If you want more control, you can also consider copying over the `HTTPFileHandler`, customizing it, and use that one in the handler chain (see `HTTPConf

[2020-03-28 22:40] #82 closed

[2020-03-28 23:15] yvbeek commented on #81
Hi @trnchawla. Thank you for reporting this issue

Ah yes, the lack of a build number seems to confuse the Xcode SPM integration.
I've added an extra tag: `0.28.0`. I'll use that full version format for new versions too.

If you run into any issues, feel free to reopen this ticket.

[2020-03-28 23:15] #81 closed

[2020-03-28 23:17] yvbeek commented on #83
Thank you for reporting this.

I might have broken Carthage support for `HTTPParserC`.
I'll have a look at this tomorrow.

[2020-03-30 00:59] yvbeek commented on #83
@iangmaia I believe I've fixed the issue.

You might not even need to include `CocoaAsyncSocket` and `HTTPParserC` into your project, if you only use those projects for `Telegraph`.

Please try out `0.28`. You might have to clear your Carthage cache, or it won't download the updated `HTTPParserC` library:
[code]

I'll close the ticket, feel free to reopen it if you still encounter any issues.

[2020-03-30 00:59] #83 closed

[2020-05-25 14:47] ldenoue opened #84 "SSL certs"
Does somebody know how to obtain an SSL certificate from a Certificate Authority trusted by major web browsers but can be tied to an app ID instead of domain name or static IP address?

If my app wants to run a secure HTTPS server that can be viewed by web browsers from anywhere, I need that.

Thanks.

[2020-05-25 19:48] yvbeek commented on #84
Unfortunately, as far as I know, certificates can only be tied to domain names or (non-private-range) addresses.

[2020-05-26 13:20] #84 closed

[2020-05-31 14:53] leo2joseph opened #85 "How to serve directory from Documents Directory ?"
I am able to host the local server and load the files from Bundle using the code below,

[code]

but when I try to serve the directory from the Documents directory, the page is blank. I don't see any error in the logs either. I have files stored in Documents directory.

[code]

**Can you tell how to serve from Application documents directory ?**

Thanks for your help

[2020-06-01 15:36] #85 closed

[2020-06-01 15:36] leo2joseph commented on #85
Had some issues with starting the server, but now I am able to launch the server from Documents directory.

[2020-06-01 15:39] leo2joseph opened #86 "Start server using custom interface name"
I am able to create a localhost server using the following code,
`try? server.start(port: 8000, interface: "localhost")`

But I couldn't created using custom interface name,
`try? server.start(port: 8000, interface: "bookmypage")`

Can I create the server using custom interface name ?

[2020-06-27 20:55] yvbeek commented on #85
@leo2joseph Glad you figured it out! Sorry for my late reply, work has been crazy busy.

[2020-06-27 21:05] yvbeek commented on #86
You can use `interface` argument to specify one of the system's network interfaces. It allows you to control on which device you want to accept the network connections.

- If the interface is `localhost` you will only allow connections from the device itself.
- If you don't specify an interface, it means you will allow any outside connection.
- Other options are specific network devices like `en0`

[2020-07-02 07:17] hziKen opened #87 "How do you build a server with this library for offline resource loading of WKWebView"

[2020-07-10 20:21] yvbeek commented on #87
Hi @hziKen

**English**
You can use the `serveBundle` option to serve offline resources from your app's bundle.
See the [routes section of the README](https://github.com/Building42/Telegraph#http-routes). Also please check out the example app of the project. Once you have a running server, you can treat it like any other webserver and point your `WKWebView` to the server's url.

**Traditional Chin

[2020-07-10 20:23] #86 closed

[2020-07-11 01:41] hziKen commented on #87
Can you give me a demo of webView offline loading local resources for me?

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Yvo van Beek"<notifications@github.com&gt;;
发送时间: 2020年7月11日(星期六) 凌晨4:21
收件人: "Building42/Telegraph"<Telegraph@noreply.github.com&gt;;
抄送: "何梓坤"<784267573@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [Building42/Telegraph] How do you build a server

[2020-08-08 10:00] Joebayld opened #89 "Add middleware to specific routes"
Hey all,

Love this library - just getting used to it. I'm curious if it's possible to apply a middleware to a certain set of routes? I only want to add some header middleware to a specific set of URIs but it seems that middleware applies to all routes currently.

Any ideas?

[2020-08-09 07:38] Joebayld opened #90 "Serving symbolic link of folder"
Hi,

I've noticed some strange behavior when sharing a symbolic link (alias) of a website. It's a single page application and I want the root route to pass the `index.html` file. If I serve the directory of a folder, the `index.html` is properly read and returned. However, if I serve a directory that is an alias of a folder that contains `index.html`, an error is thrown that I don't have permissio

[2020-08-09 10:40] Joebayld opened #91 "WebSocket finishing messages that aren't final"
I've been tracing a bug with the `WebSocketParser` and I think I've found where it's at. In my app, the client is sending a lot of data quickly to the server, causing some packets to be fragmented. The issue I've found is that telegraph is calling the `finishedMessage` method on messages that aren't marked final. This is resulting in broken JSON on my app.

When examining the incoming data I can s

[2020-08-09 12:10] Joebayld commented on #91
Ah I just realized this could be intentional as I could check the `message.finBit` on the delegate call. But then the weird part is that the `.continuationFrame` is sent as binary (when it is a continuation of the original `textFrame`)

[2020-08-09 17:52] yvbeek commented on #90
Hi,

Yes I think the code should be a little bit smarter in the ways it handles symbolic links.

Perhaps the first step in the `responseForURL(_ url: URL, byteRange: ByteRange?)` function should be to check if the `resourceType` is a symbolic link. If it it, it could use `FileManager`'s `destinationOfSymbolicLink(atPath:)` function to follow that symbolic link. We could probably use recursion to t

[2020-08-09 17:54] yvbeek commented on #87
@hziKen Sorry, I can't give a complete WKWebView example right now. Here is a basic explanation of how WKWebView works:
https://www.hackingwithswift.com/read/4/2/creating-a-simple-browser-with-wkwebview

[2020-08-09 17:54] #87 closed

[2020-08-09 18:03] yvbeek commented on #91
Nice work on tracking down the issue! The WebSocket implementation of Telegraph is quite basic. You're quite likely to run into a few issues here and there if you use more advanced options.

I'm not quite sure if it should be Telegraph's responsibility to combine the fragmented messages. We could have a look at how other web servers handle that. Maybe the nicest solution would be to have a setting

[2020-08-09 18:15] yvbeek commented on #89
Hi, great to hear you love the library! That's awesome!

It isn't possible right now to apply middleware to a specific route. The solution right now would be to check that request URI in your middleware and then choose to just call the next handler if the middleware doesn't apply to this route. This reduces the reusability of the middleware a bit, but worst case you can create a middleware class a

[2020-08-15 19:41] yvbeek commented on #90
Thank you for the PR!

[2020-08-15 19:41] #90 closed

[2020-08-24 11:48] mbalex99 opened #94 "WASM files have incorrect mimeType"
I think this is a pretty popular issue with HTTP servers.

`.wasm` files should return an `application/wasm` MIME Type not an `application/octet-stream` as shown below. Browsers will fail to load the wasm file if the server returns anything other than `application/wasm`.

![image](https://user-images.githubusercontent.com/2183729/91041374-c6ce9700-e5c4-11ea-9554-a517310200d8.png)

This is what the

[2020-08-24 12:37] bianning opened #95 "accessControllAllowOrigin"
When I use redirect:

[code]

but also:

Cross-origin redirection to http://www.baidu.com/ denied by Cross-Origin Resource Sharing policy: Origin https://localhost:9000 is not allowed by Access-Control-Allow-Origin.

[2020-08-27 02:45] donly opened #97 "WebSocket can't connect after moving to background a while and go back"
Hello.
I like this great project, and it help me a lot.
I have a problem like https://github.com/Building42/Telegraph/issues/50 said:

    after a while (i.e 10 minutes) leaving the server on (an iPad) with a socket connection open (by calling server.start(onPort:), the other devices cannot connect the server anymore.

And I run the server using these code, and invoke it every time moving to the f

[2020-08-28 18:54] #94 closed

[2020-08-28 19:13] yvbeek commented on #95
Hi,

 I'm not really familiar with redirect scenarios when it comes to CORS. You might have to set a few extra headers like:
`Access-Control-Allow-Headers` and `Access-Control-Allow-Methods`

Hope that helps!

[2020-08-28 19:13] #95 closed

[2020-08-28 19:24] yvbeek commented on #97
Hi donly,

Unfortunately I think you are running into the issue that Apple is closing your network connections. Unless your app is a music app or other app that has special permissions to keep connections open while suspended, Apple is going to clean up most of your app after it is has been in the background for a while. Apple does this to save memory and battery life and other programs might need

[2020-08-28 19:24] #97 closed

[2020-08-30 04:51] donly commented on #97
Yes, you are right, that is the reason why it will lose the connection. my point is how to resume the connection.

[2020-08-31 02:57] yvbeek commented on #97
To workaround this I would do the following:

**Server side**
- Add the background task to try to get as much time from the OS as you can
- When your time is almost up, stop the (Telegraph) server
- When your app resumes, start the server

**Client side**
On the client side you want the WebSocket client to try to restore the connection whenever you can. If the client gets disconnected, you could t

[2020-08-31 06:47] donly commented on #97
Thank you for the very details of suggestions.

The last question, after background task time is almost up and resumes the app, it will return here.
[code]
Actually the server has stopped. is this a bug?

[2020-08-31 17:58] decanus opened #98 "Websocket upgrade"
Whenever I try to connect to a server that upgrades websockets, the upgrade header is not set and thus it fails.

[2020-08-31 18:47] #98 closed

[2020-09-05 21:57] yvbeek commented on #97
That could be a bug. I believe it is looking at the port status of the listener to determine if it is running. If the server wasn't stopped gracefully that could incorrectly report that it is still running.

I'll keep this open so that I can do a few tests on that later.

[2020-09-18 00:28] lukecorbin opened #99 "File Download Progress/Delegate"
I am sure this is probably simple, but I do not see how I can get information on file transfer progress on files I am hosting.

I can request my file to download from the client and send back it successfully, however I would like to get information to the user on the download progress

Is there a delegate I can use in order to get the 'percent complete' status for the file I am sending?

Thanks!

[2020-09-30 20:57] malhaar opened #100 "Telegraph as Proxy Server"
hello there,
an we use telegraph as proxy server, so that I get response from my web server and just relay them via telegraph server?

Regards,

[2020-10-20 12:51] diginick opened #101 "Server never deallocated"
Hello there and thank you for this very helpful repository.

We integrated Telegraph recently in our project and now we have reached a point where we cannot tackle one minor issue. We've searched for other issues on the subject, but haven't found something that solves our problem.

Our setup is pretty straight forward. A new `UIViewController` is created and pushed to the navigation stack. It is t

[2020-10-31 02:32] DiamondYuan opened #102 "not working in xcode 12"
[code]

[2020-10-31 02:41] DiamondYuan commented on #102
[SERVER] Server is running - url: true
2020-10-31 10:35:05.097959+0800 mirror[50805:6813940] [] nw_protocol_get_quic_image_block_invoke dlopen libquic failed
2020-10-31 10:35:05.098564+0800 mirror[50805:6813940] [connection] nw_socket_handle_socket_event [C1.1.1:2] Socket SO_ERROR [61: Connection refused]
2020-10-31 10:35:05.099988+0800 mirror[50805:6813940] [connection] nw_socket_handle_socket_ev

[2020-11-02 07:24] #102 closed

[2021-01-08 21:11] #89 closed

[2021-01-08 21:11] #91 closed

[2021-01-19 10:22] rowant1990 opened #105 "Swift Package Manager support not working 'CocoaAsyncSocket requires minimum platform version 9.0'"
SwiftPM support currently throwing an error.
I'm getting 'The package product 'CocoaAsyncSocket' requires minimum platform version 9.0 for the iOS platform, but this target supports 8.0' when trying to build.

[2021-02-17 08:20] PrasanthGokiladas opened #106 "Server route - redirect URL is not working"
First I thanking you for the great tutorial.
My requirement(in iOS) - I want to redirect particular url from device browser while enter the localhost url "https://localhost:9000/redirect" and it should redirect to  "https://www.goggle.com" from the device browser at first launch after setup the localhost server(after launch the application).  Below the point's I did;
1. I run the application succe

[2021-03-08 06:01] HakanPamukcu opened #107 "Secure WebSocket client (https) cannot connect to WebSocket server (ws)"
First I thanking you for the great tutorial.

My problem is that after successfully launching the application, I opening the https url in the default iOS device browser (Safari) in the WKWebView of the application.  The connection request of the screen that opens reaches the WebSocket Server (ws), but the connection is not successful.

Is it necessary to give the CA certificate to the WebSocket se

[2021-04-17 03:27] yvbeek commented on #101
Hi @diginick, sorry it took me so long to respond.

With the route handlers there's always a danger of creating a retain-cycle. If the route handler holds a reference to the containing class or to the server then you might run into a server instance that will never deallocate.

For simplicity I'm ignoring any potential retain cycles in the demo:
https://github.com/Building42/Telegraph/blob/main/Ex

[2021-04-17 03:27] #101 closed

[2021-04-17 03:29] yvbeek commented on #105
Hi, sorry it took me a while to respond.

The problem has been fixed in 0.29:
https://github.com/Building42/Telegraph/releases/tag/0.29

[2021-04-17 03:29] #105 closed

[2021-04-17 03:33] yvbeek commented on #100
Hi, sorry it took a while to respond.

I don't think that Telegraph would be the ideal server to use as a proxy server.

If you want to relay a response from another web server, you would have to accept the incoming request and then wait for the remote web server to respond before you can send the response. Telegraph right now isn't optimized for asynchronous responses. If you want to try it out,

[2021-04-17 03:33] #100 closed

[2021-04-17 04:05] yvbeek commented on #106
Hi, sorry it took me a while to respond,

The problem you are running into is that when you send an app to the background, Apple is going to suspend it and it will no longer accept incoming connections.

Unfortunately there is no 100% solution for this, but you can usually keep the app active for about 3 minutes by starting a background task.

Here's an example of what the code would look like in

[2021-04-17 04:05] #106 closed

[2021-04-17 04:12] yvbeek commented on #107
Hi, are you running into a certificate error?

If you like you can run the server without HTTPS by simply not providing an `identity` and `caCertificates` when you create the `Server` instance.

The best way to try this out is to clone the Telegraph repo, open the Xcode project and then start the iOS example. If you comment out the [`loadCertificates()` line in `TelegraphDemo.swift`](https://githu

[2021-04-17 04:12] #107 closed

[2021-04-17 04:20] yvbeek commented on #99
Hi, sorry it took me this long to respond,

When you download a file using  a URLSession, you can monitor the download progress by implementing specific delegate calls.

Here's [an article](https://medium.com/swlh/tracking-download-progress-with-urlsessiondownloaddelegate-5174147009f) on how to do that. The delegate looks like this:
[code]

I do have to say that I've never tested this with Telegra

[2021-04-17 04:20] #99 closed

[2021-04-20 20:30] kaden-weber opened #110 "Swift Package Manager doesn't find version 0.29"
When adding Telegraph as a swift package to an iOS project, Xcode thinks that `0.28.0` is the most up to date version.

I believe this is because there is no semantic versioning compliant tag like `0.29.0`

I'd really appreciate your help!

[2021-04-20 21:00] kaden-weber commented on #110
It worked!
![Screen Shot 2021-04-20 at 3 58 00 PM](https://user-images.githubusercontent.com/20605395/115463371-5af30b80-a1f1-11eb-9204-b8b2621912f8.png)

[2021-04-20 21:00] #110 closed

[2021-04-21 22:39] yvbeek commented on #110
Hi Kaden, I quickly created the `0.29.0` tag yesterday when I saw your message. Today I've merged in your PR and updated the tags. Could you do a quick check for me if everything is still working?

Thank you for your help!

[2021-04-22 15:50] kaden-weber commented on #110
Thanks @yvbeek, the tag, together with my PR, are working perfectly for me. I can now use this repo as a dependency source in my iOS app. Thanks for your quick response!

[2021-04-26 14:21] shalom-aviv commented on #27
Hey

Do you have a progress with this issue?

PS
Telegraph is Great work!
Thank you

[2021-04-26 15:17] shalom-aviv commented on #27
I'm checked Kitura and Vapor for big files transfering
Kitura seems has the same issue

Vapor support streams for files
I'm not sure, but maybe next link help you
https://github.com/vapor/vapor/tree/main/Sources/Vapor

**ChannelResponseBodyStream** in
https://github.com/vapor/vapor/blob/73d57959a96ceca719558e70c320b2f729d2b25b/Sources/Vapor/HTTP/Server/HTTPServerResponseEncoder.swift

**BodyStream

[2021-05-01 21:13] alessioemireni opened #111 "Web forms support"
hi,
any way to support [web forms](https://www.w3.org/TR/html401/interact/forms.html#h-17.13.4) in HttpRequest as [GCDWebServerURLEncodedFormRequest](https://github.com/swisspol/GCDWebServer/blob/master/GCDWebServer/Requests/GCDWebServerURLEncodedFormRequest.m)? Thanks

[2021-05-16 04:35] Burningdust21 opened #112 "custom qos for OperationQueue"
Hey,

I am currently working on a project that requires highly intense CPU computation. After running for a while, the OperationQueue is no longer scheduled, task are enqueued but never executed.

The problem can be solved by specifying a high qos for OperationQueue. Is it possible to add an init function that takes an qos and set it to OperationQueue:
[code]

[2021-06-06 20:13] yvbeek commented on #112
Hi @Burningdust21, unfortunately because of work and a never ending list of home improvement projects I don't have a lot of time to spend on Telegraph right now.

If you would like to open a PR, I would be happy to have a look at it when I can.

Perhaps we could even consider just making the `workerQueue` public. That would give some flexibility in configuring the OperationQueue. See: https://gith

[2021-06-06 20:13] #112 closed

[2021-06-06 20:18] yvbeek commented on #111
Hi @alessioemireni ,

It would probably possible to do this with Telegraph, but there would be quite some work involved. The class that you mention inherits from this class [GCDWebServerMultiPartFormRequest](https://github.com/swisspol/GCDWebServer/blob/master/GCDWebServer/Requests/GCDWebServerMultiPartFormRequest.m) and you can see that it contains a lot of logic.

Unfortunately I don't have the

[2021-06-06 20:18] #111 closed

[2021-07-06 10:49] balazsnemeth commented on #18
@szuwest can you share your wrapper?

[2021-08-27 16:37] fluidadsjtr opened #113 "Background"
When the app goes it background I understand the server will shutdown, that is fine.  But when the app is brought back to foreground it's not restarting.  I have tried webserver start but that does not restart it.  Can you tell me how to restart?

[2021-08-28 20:50] yvbeek commented on #113
Hi! I recommend to stop the server when it goes to the background and then to (re)start the server when it comes out of the background. You can use the delegate methods of the `AppDelegate` for this.

[2021-08-29 06:02] fluidadsjtr commented on #113
Hi,

How do I stop the server?

Thanks

John

Sent from my iPhone

[2021-08-29 18:48] yvbeek commented on #113
The `Server` object has both a `start` and a `stop` function:
https://github.com/Building42/Telegraph/blob/main/Sources/Server/Server.swift#L45

You could then for example `stop` the server in `applicationWillResignActive` and `start` it again in `applicationWillEnterForeground`. You might have to experiment a bit to find out which of the delegate calls works best.

[2021-09-08 07:25] donly opened #114 "How to deal with sticky or half a pack when send with data"
Hi, While sending json data with `client.send(data: json)`, sometimes will cause websocket client disconnection:
[code]

As you said that The WebSocket implementation in Telegraph is kinda bare bones in https://github.com/Building42/Telegraph/issues/30#issuecomment-365004696.

Any solutions or suggestions to fix sticky package message pls.

[2021-11-11 11:16] guzishiwo opened #115 "https localhost invalid"
I open a local server for WKWebView.  When I use http normally, but https, it is invalid to add a certificate.  I use the certificate provided in demo.
But Xcode throw Error:
`WebPageProxy::didFailProvisionalLoadForFrame: frameID=3, domain=NSURLErrorDomain, code=-1200
`
[code]

[2021-11-12 02:28] dot-wei2021 commented on #115
I have solved  WKwebview need trust

[code]

[2021-11-27 01:33] JorgeFrias opened #116 "Redirect HTTP to HTTPS"
Hi, I cannot find a way to redirect any HTTP petition to an HTTPS, seems like when creating a secured server `Server(identity: CertificateIdentity, caCertificates: [Certificate])` all HTTP request are dropped. Looks like it is before those are exposed to the programer (probably I just cannot find the place).

Is there a way to redirect a HTTP petition to an HTTPS?

Thank you very much! An incredib

[2021-11-27 01:40] #116 closed

[2021-11-27 01:42] JorgeFrias commented on #116
I can create another server on another port and force the redirection with that one. I’m sorry for opening an issue is too late to think clearly.

[2021-12-03 12:02] kiwifruituk opened #117 "URL with square brackets"
We've been supplied files from a third party supplier with files that contain square brackets in the name, i.e` [root.m].js`

This is causing the following error:
`Invalid data, parser failed with code 2`

As the parsing fails the `request.uri` returns `/` and subsequently the resource fails to load.

[2021-12-10 10:01] Joebayld opened #118 "Cache files when serving a directory"
Would it be possible to add support to the `serveDirectory` function that would add cache headers based on when the files were last modified?

I've done some research on ETags but I can't seem to fully wrap my head around it.
I can work on it if someone can point me in the right direction. Thanks

[2022-01-12 12:16] jxian725 opened #120 "NSURLErrorDomain (code = -1202)"
Hi everyone, I am new to Telegraph. I got the error NSURLErrorDomain, code = -1202 when trying to run on HTTPS. I am using the ca.der and localhost.p12 provided in the sample.
I tried with HTTP and it works. Not sure what is the problem with HTTPS, Any idea?

[code]

plist.info
[code]

[2022-01-14 18:46] mwilzin commented on #113
Hey, is there a way to keep the connection open?
Need this for authentication with another service...
Thanks

[2022-02-07 08:00] Mondingnibai opened #121 "Swift Compiler Warning (Xcode 13) - Using Class is deprecated use AnyObject instead"
I just updated my Xcode  version to 13 because Im preparing the app  to upgrade for iOS 15. But I got these errors.
Do I need to fix manually? Or I will wait for your next update.
If I fix it manually, what would be the cause or errors might happen?
<img width="596" alt="Screen Shot 2022-02-07 at 3 59 54 PM" src="https://user-images.githubusercontent.com/78613015/152747908-432911ec-aec4-4d4c-8a55-

[2022-02-07 08:12] masture opened #122 "Supporting Multipart File Upload Request"
Greeting,

Do you foresee implementation of the multipart file upload support?

My use case is: The Web Server is running on iOS device and it receives files from an Android DashCam. The DashCam is a WiFi hotspot and the iPhone is connected to the same. So both are on local network and can interact with each other.

At present I am using `GCDWebServer` on iOS and I am able to receive files from th

[2022-02-07 14:55] masture commented on #117
The valid characters in an URI are:
[code]

The other ASCII characters are categorised as following:
[code]

This is taken from [RFC 3986 (Uniform Resource Identifier (URI): Generic Syntax)](http://www.ietf.org/rfc/rfc3986.txt)

Hence square brackets cannot be used as-is. However these can be used with _Percent Encoding_.
I don't know whether `Telegraph` supports Percent Encoding or not. Please tr

[2022-02-23 08:51] mourgias opened #123 "Protocol 'WebSocket' as a type cannot conform to 'Equatable'"

[2022-02-23 22:22] DylanDuff opened #124 "Sending WebSocket messages"
How would I go about sending a message to a connected ws client other than using the existing functions in ServerWebSocketDelegate? They work perfectly for establishing the connection but im unsure how to reference the WebSocket instance in order to send messages other than replying to received messages or the initial connection. I tried storing the socket in a constant upon connection so I could

[2022-02-23 22:27] DylanDuff commented on #124
currently doing something like this

`
public class LocalServer: NSObject {
  var server: Server!
  var currentSocket: WebSocket?
}

extension LocalServer: ServerWebSocketDelegate {
  public func server(_ server: Server, webSocketDidConnect webSocket: WebSocket, handshake: HTTPRequest) {
      let name = handshake.headers["X-Name"] ?? "stranger"
      print("[SERVER]", "WebSocket connected - name:

[2022-02-23 22:33] DylanDuff commented on #124
not sure how well I explained where im getting stuck, so heres a gist of my current implementation https://gist.github.com/DylanDuff/7f9337adaf87896b72e61d5b215af0e4

[2022-02-27 19:16] #124 closed

[2022-05-11 15:31] Alkenso opened #125 "Add remove/local endpoint information into HTTP request routing handlers"
In some situations it is very handy have the ability to get information about the client when processing the HTTP request

Please add forwarding of HTTPConnection's local/remote endpoints into HTTPRequest or handlers that handles requests

[2022-05-17 04:06] rlaguilar commented on #97
This is still happening. Are you tracking this issue on a different ticket?

[2022-05-21 05:29] red010182 opened #127 "How to proxy requests?"
I'm using telegraph to serve a local html folder. However, I need to send a post request to a remote server which I can't add CORS header.

So I need to proxy the post request. I'm trying to do this

[code]

But my client (WKWebview) got 404 response. Can anyone help?

Thanks

[2022-05-26 04:08] conghieu021299 opened #128 "How to upload file to server ?"
I have an image at "/private/var/mobile/Containers/Shared/AppGroup/5D607506-C125-4CF2-BCBB-67EF9F37B10E/image".
I want to push it to the server so that when the user accesses the url "http://localhost/image" the image will be displayed. Is there any way to do that?

[2022-06-17 20:49] andyjriley opened #129 "Assistance with route formatting"
I know this possibly isn't the best spot for this but I wanted to try here first.

I have the following route being added, but for some reason the call doesn't get routed. I am able to get the route to work when changing to "apiservice/v3/member/*". Is anyone able to explain to me what is wrong with how it is written?

server.route(.GET, "apiservice/v3/member/:memberId/bundle/:bundleId/state", sel

[2022-06-22 19:33] #129 closed

[2022-08-12 21:05] yvbeek commented on #118
Thanks, I've merged in the code, but I've removed the default cache header: https://github.com/Building42/Telegraph/commit/5c462be1e6768dcf990420e779c838fd5c9da062

I've also changed the `responseForURL` function to `open` so that it is easier to override, that way you can create your own `HTTPFileHandler` that overrides `responseForURL`, calls super and then sets the default cache header. Or you

[2022-08-12 21:05] #118 closed

[2022-08-12 21:07] yvbeek commented on #121
Hi, these warnings were caused by some outdated Swift code. This has been resolved by this PR: https://github.com/Building42/Telegraph/pull/130

[2022-08-12 21:07] #121 closed

[2022-08-12 21:14] yvbeek commented on #120
Hi, when you use a certificate it should come from a trusted root certificate authority. The error -1202 is indicating that the certificate is invalid.

In the demo app you can see that we work around this issue by explicitly trusting the certificate. See https://github.com/Building42/Telegraph/blob/main/Examples/Demo/TelegraphDemo.swift#L213

Another thing you could do is add the certificate on t

[2022-08-12 21:14] #120 closed

[2022-08-12 21:16] yvbeek commented on #115
Hi, sorry I haven't been really active in this project. Glad you found the solution.

Certificates can only be trusted if they have been issued by one of the trusted certificate authorities. Otherwise you need to explicitly trust the certificate on the client, like you did in your code.

In the demo app we do this using these lines: https://github.com/Building42/Telegraph/blob/main/Examples/Demo/T

[2022-08-12 21:16] #115 closed

[2022-08-12 21:23] yvbeek commented on #127
Hi, unfortunately it is a bit more complicated to get data from a remote server.

You basically have two options:

**Option 1**: Send a redirect header back to the client. The client's app / browser will get the file from the remote server. The demo app includes an example of how to do this:

https://github.com/Building42/Telegraph/blob/main/Examples/Demo/TelegraphDemo.swift#L71
https://github.com

[2022-08-12 21:23] #127 closed

[2022-08-12 21:26] yvbeek commented on #113
Unfortunately on iOS devices, when the app is in the background the operating system will start closing connections for the app to save resources. For more info see https://github.com/Building42/Telegraph#what-if-the-device-goes-on-standby

[2022-08-12 21:26] #113 closed

[2022-08-12 21:40] yvbeek commented on #114
Are you sending large amounts of JSON data? The WebSocket implementation should be fine for small amounts of data, but it isn't optimized for large payloads.

Otherwise this is probably an issue at the network layer. Normally the websocket should not disconnect unless the underlying socket is closed for some reason.

The best way to handle this might be to keep track of what you're sending to the

[2022-08-12 21:40] #114 closed

[2022-08-13 04:24] yvbeek commented on #117
The `URI` component is using Apple's `URLComponents` object to break the string into the relevant parts. I think that this is throwing an error when you use some of these characters.

The [C HTTP parser](https://github.com/Building42/HTTPParserC) that we're using has some functionality for url parsing, we might be able to use that. Would probably make url parsing faster too

[2022-08-13 04:28] yvbeek commented on #122
Unfortunately Telegraph doesn't support multi-part requests. Telegraph will work fine with small request/response payloads, but will use a lot of memory once you try to send/receive large datasets.

It will require quite a bit of work to implement this. I won't be able to add it anytime soon, but PRs are welcome.

Related to https://github.com/Building42/Telegraph/issues/27

[2022-08-13 04:46] yvbeek commented on #128
You can send the image from the client to your Telegraph server by posting it to an endpoint. This should work fine as long as you're not sending huge photos, because that will use up a lot of memory.

1. set up a server route that serves all the images in a local folder, this will be the route that your clients will call to display any of the uploaded images
2. set up a server route that you can

[2022-08-13 04:46] #128 closed

[2022-08-13 04:49] yvbeek commented on #123
You are likely trying to put a `WebSocket` in a Dictionary. Unfortunately that isn't possible and that will result in the compiler error that you mentioned in the title. At some point I might refactor `WebSocket` to make that easier, but until then I recommend wrapping the `WebSocket` in a struct or class. You can give that object a unique identifier and make it support `Equatable` / `Hashable`

[2022-08-13 04:53] yvbeek commented on #125
Thanks, good suggestion 👍

This would require quite a bit of refactoring. Unfortunately I'm no longer using Telegraph in my day-to-day work, making it difficult to find time to make improvements to the library.

Probably the next big thing to do is to remove CocoaAsyncSocket and use the Networking library that Apple introduced with iOS 12. That will already have some impact on the classes that you

[2022-08-13 07:52] Alkenso commented on #125
Thank for your response. I would be glad to hear one day that Telegraph got so incredible update!

[2022-08-31 15:07] jarekdominiak opened #131 "Xcode 14 beta 6 - Redefinition of enumerator error"
Hi, new version of Xcode 14 beta 6 displays errors during compiling inside HTTPCParser,  could someone help resolve that issue?
<img width="254" alt="185805726-4678d4f8-7e57-4f7b-b934-5d41fdb794b7" src="https://user-images.githubusercontent.com/79155136/187712807-75d1efd9-307c-4415-93ed-8947bb3e1cdb.png">

[2022-09-09 22:50] yvbeek commented on #131
Hi, I've installed the RC build of Xcode 14 and I'm not running into this issue. Please try again using the RC build and feel free to reopen this issue if you are still running into errors.

[2022-09-09 22:50] #131 closed

[2022-10-04 05:14] jmbldwn opened #132 "MacOS Example Needed Modifications"
Had to make a few changes to get the MacOS example working.

- Added `import Foundation` to the TelegraphDemo class
- Added the Telegraph package (I expected to have to do this) with the Swift Package Manager
- Removed the reference to Telegraph.framework (apparently its not needed once the package is installed)

With that, it runs.  Woot!

[2022-10-04 05:16] jmbldwn commented on #132
Oh, xcode version 14.0.1, MacOS Monterey

[2022-10-07 21:17] ZackHon12027 opened #133 "IOS Test App provided does not allow connection from outside device"
When running on Simulator it works fine, However. When running on Iphone you will get a ERROR: connect ECONNREFUSED. Error is true for both HTTP and HTTPS

TestApp on Main branch used. Not sure if It came by default but I added Allows Local Networking
<img width="575" alt="Screen Shot 2022-10-07 at 5 14 39 PM" src="https://user-images.githubusercontent.com/115322774/194653412-6d5fe3d9-f719-4be5-ba

[2022-11-02 08:14] sebastianludwig opened #134 "SecPKCS12Import should not be called on the main thread"
Running Telegraph for the first time with Xcode 14 on iOS 16 I got a warning that `SecPKCS12Import` should not be called on the main thread

<img width="1290" alt="Screenshot 2022-11-02 at 09 13 41" src="https://user-images.githubusercontent.com/1715010/199435260-0e8c11d3-149a-4c8c-afc4-51a8d78828f7.png">

[2022-11-03 21:05] iloveitaly opened #135 "Using with command line tool"
I'm not able to get this working with a swift command line tool (i.e. no ui). The server starts, but it will not accept any requests. I'm calling `RunLoop.main.run()` after setting up the server.

Any ideas why this might be? Is there something special that needs to be done when not doing a ui app?

[2022-11-03 23:47] Joebayld opened #136 "Expose WebSocketConnections"
I have logic in my app that seems to be identical to the internal implementation of the Server to manage a SynchronizedSet of connections. Would it be possible to make this property available publicly? Looking at `Server.webSocketConnections` specifically.

It could keep a private setter, just make the getter available publicly.

[2022-11-11 03:23] ryankim-Bhaptics commented on #131
Hi, I am encountering this problem after installing new update for Xcode 14.1. any fix for it?